@import "./params.scss";

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.color-white,
.text-white {
  color: #fff;
}

.wrap {
  flex-wrap: wrap;
}

.w-half {
  width: 50%;
}

.w-20 {
  width: 20%;
}
.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.nowrap {
  white-space: nowrap;
}
.text-left {
  text-align: left !important;
}
.items-end {
  align-items: flex-end;
}

.text-center {
  text-align: center !important;
}
.w-full {
  width: 100%;
  max-width: 100%;
}

.fa {
  font-family: "FontAwesome";
}

.mt-20 {
  margin-top: 20px;
}

.text-42 {
  font-size: 42px;
}
.flex-1 {
  flex: 1;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: $main;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: $main;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: $main;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: $main;
}
.btn_main {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  padding: 13px 33px;

  color: #ffffff;

  background: $orange;
  border-radius: 555px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:hover {
    opacity: 0.75;
  }
  &:focus {
    opacity: 0.75;
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn_dark {
  text-align: center;
  height: 52px;
  min-width: 192px;
  /* 	 */
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  transition: all 0.3 ease;

  color: #ffffff;
  background: #212736;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background: #1d88dd;
    color: #fff;
  }
  &:focus {
    background: #1d88dd;
    color: #fff;
    opacity: 0.5;
  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    .icon--blue {
      display: initial;
    }
    .icon--white {
      display: none;
    }
  }
}

.btn {
  background: #08105b;
  border-radius: 15px 0px 15px 15px;
  border: none;
  text-align: center;
  display: inline-block;
  padding: 15px;
  img {
    margin: auto;
  }
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    opacity: 0.7;
  }
}
.productcard__addtocart {
  width: 60px;
  height: 60px;
  background-image: url(../img/addtocart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* .productcard__addtocart.active {
  background-image: url(../img/selected_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
} */

.btn_texticon {
  display: inline-flex;
  height: 66px;
  align-items: center;
  transition: 0.5s ease-out;
  background: #1d88dd;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  transition: all 0.3s ease;
  &:hover {
    .btn__text {
      background: #3ea9ff;
      color: #fff;
    }
  }
  &:focus {
    background: #1d88dd;
    color: #fff;
    opacity: 0.5;
  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    .icon--blue {
      display: initial;
    }
    .icon--white {
      display: none;
    }
  }
}
.btn__text {
  background: #1d88dd;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  color: #ffffff;
  padding: 0 36px;
  transition: all 0.3s ease;
}
.btn_texticon .btn__icon {
  background: #1873bc;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 66px;
}

.btn_arrow {
  background: #1d88dd;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  align-items: center;
  border-radius: 6px;

  color: #ffffff;
  transition: all 0.3s ease;
  padding: 21px 35px;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  span {
    padding-right: 6px;
  }
}

#video-bg {
  height: 100%;
  margin-top: 0;
  max-height: 100%;
  overflow: hidden;
  right: 0;
  z-index: 1;
  z-index: -1;
}

#video-bg,
#video-bg:after {
  left: 0;
  position: absolute;
  top: 0;
}

#video-bg:after {
  content: "";
  width: 100%;
}

#video-bg > video {
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: unset;
  height: 100%;
  /*  max-width: initial; */
  top: -9999px;
  bottom: -9999px;
  /*  max-height: initial; */
}

.breadcrumbs {
  margin: 30px 0;
}

.breadcrumbs__items ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs__items ul li {
  position: relative;
  padding-right: 15px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__items ul li:after {
  content: "";
  position: absolute;
  right: -6px;
  width: 15px;
  height: 1px;
  top: 8px;

  background: #687494;
}

.breadcrumbs__items ul li:last-child:after {
  display: none;
}
.breadcrumbs__items ul li:nth-last-child(2):after {
  background: #999;
}

.breadcrumbs__items ul img {
  line-height: 1;
  vertical-align: bottom;
}

.breadcrumbs__items ul span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #999;
}

.breadcrumbs__items ul a span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  /* identical to box height, or 29px */

  color: $orange;
}
.breadcrumbs__items ul a span:hover {
  color: $orange;
  text-decoration: underline;
}
.container .container {
  padding: 0;
}
.formblock__check {
  font-size: 10px;
  color: #888;
  text-align: center;
  a {
    color: #888;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
.formblock {
  max-width: 327px;
  margin-left: auto;
  margin-right: auto;
}
.formblock_large {
  max-width: 450px;
}
.formblock__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.formblock__input {
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
}

.formblock__input_col3 {
  width: 33.3%;
}

.formblock__input_col2 {
  width: 50%;
}

.formblock__input {
  position: relative;
}
.formblock {
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    background: #fff;
    border: none;
    border-radius: 0;
    border: 2px solid #dcdcdc;
    padding: 12px 16px;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    resize: none;
    &.input-error {
      border-color: #990000;
      color: #990000;
    }

    &:focus {
      border-color: $orange;
    }
  }
}
.orderform__input {
  margin-bottom: 10px;
}
.formblock__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  color: #687494;
}

.input-errortext {
  position: absolute;
  /*  margin-top: 15px; */
  display: block;
  bottom: -14px;
  left: 9px;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;

  color: #990000;
}

.input-inform {
  color: rgba(83, 90, 103, 0.4);
}

.formblock__confirm {
  .formblock__check {
    text-align: left;
  }
}

.check label {
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;

  margin-bottom: 0;
  color: #ffffff;
  padding-left: 29px;
  position: relative;
}

.check input[type="checkbox"] {
  display: none;
}

.check label a {
  color: #ffffff;
  text-decoration: underline;
}

.check label a:hover {
  text-decoration: none;
}

.check label:before {
  background-color: $blue;
  border-radius: 3px;
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  width: 15px;
  top: 3px;
}

.check input[type="checkbox"]:checked + label:before {
  background-image: url(../img/checkbox_checked.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn_large {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 22px;
  height: unset;
}

.btn_border {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  padding: 11px 38px;
  background: #fff;
  color: $main;
  border: 1px solid #ebebeb;
  border-radius: 555px;

  &:hover {
    background: $orange;
    color: #fff;
  }
  &:focus {
    background: #fff;
    color: $main;
  }
}

.slick-dots li {
  height: 6px;
  margin: 3px;
  width: 6px;
}

.slick-dots li button {
  background-color: #232938;
  border-radius: 50%;
  height: 6px;
  padding: 0;
  width: 6px;
}

.slick-dots li.slick-active button {
  background-color: $blue;
  opacity: 1;
}

.slick-dots li button:before {
  display: none;
}

[data-headertabs] {
  li {
    cursor: pointer;
  }
}

[data-contenttabs] {
  display: none;
}

[data-contenttabs].active {
  display: block;
}
.mb-130 {
  margin-bottom: 130px !important;
}

.m-0 {
  margin: 0 !important;
}

.btn_gray {
  padding: 16px 25px;
  text-transform: uppercase;
  background: #f6f3f4;
  border-radius: 555px;
  font-size: 10px;
  color: rgb(35, 31, 32);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  transition: all 0.3s ease;
  white-space: nowrap;
  &:hover {
    color: #fff;
    background: $orange;
  }
}

.btn_gray.btn_icon {
  padding: 8px 11px 8px 20px;
  display: inline-flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .btn_img {
    display: block;
    max-width: 21px;
    margin-left: 11px;
  }

  &:hover,
  &:focus {
    background: $main;

    svg path {
      fill: #fff;
    }
  }
}

.btn_main {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: none;
  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;
    background: #fff;
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.7) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.7) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.7) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=0 );
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.4;
  }
}

[data-menutoggle] {
  display: block;
  margin-left: 15px;
}

[data-menutoggle] .menubtn_icon span {
  width: 27px;
  height: 3px;
  margin: 5px 0;
  display: block;
  background: $main;
  transform-origin: 4px 0px;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

[data-menutoggle] .menubtn_icon span:first-child {
  transform-origin: 0% 0%;
}

[data-menutoggle] .menubtn_icon span:last-child {
  transform-origin: 0% 100%;
}

.onlyDesktop [data-menutoggle].active .menubtn_icon span:first-child {
  opacity: 1;
  transform: translate(0, 17px) rotate(-45deg);
}

.onlyDesktop [data-menutoggle].active .menubtn_icon span:last-child {
  transform: translate(0, -19px) rotate(45deg);
}

.onlyDesktop [data-menutoggle].active .menubtn_icon span:nth-child(2) {
  opacity: 0;
}

.mobilemenu [data-menutoggle] .menubtn_icon span:first-child {
  opacity: 1;
  transform: translate(0, 17px) rotate(-45deg);
}

.mobilemenu [data-menutoggle] .menubtn_icon span:last-child {
  transform: translate(0, -19px) rotate(45deg);
}

.mobilemenu [data-menutoggle] .menubtn_icon span:nth-child(2) {
  opacity: 0;
}

[data-menutoggle] .menubtn_text {
  margin-right: 17px;
}
[data-menu] {
  /*   display: none; */
  left: -100%;
  position: fixed;
  transition: all 0.3s linear;
}
[data-menu].active {
  left: 0;
}

.jsbackdrop {
  background: rgba(52, 60, 75, 0.5);
  display: none;
  position: fixed;
  z-index: 9;
  height: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

.jsbackdrop.active {
  display: block;
}

.radioinput {
  display: flex;
}

.formcheckbox {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.formcheckbox .checkmark {
  border: 2px solid $orange;
  border-radius: 50%;
  height: 14px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 14px;
}
.orderform__name {
  font-size: 14px;
}
.formcheckbox .checkmark:after {
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 8px;
  display: none;
  background: $orange;
}

.formcheckbox input:checked ~ .checkmark:after {
  display: block;
}

.formcheckbox input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.fileupload {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0;

  min-height: 22px;
  width: 100%;
}

span#file-chosen {
  bottom: -10px;
  position: absolute;
  font-size: 10px;
  left: 33px;
  color: #999;
}

.fileupload label.filelabel {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.fileupload span {
  font-style: normal;
  font-size: 14px;

  color: $main;
  display: flex;
  align-items: center;
}

@media (max-width: 1023px) {
  .fileupload span {
    font-size: 14px;
    line-height: 130%;
    padding-left: 3px;
  }
  [data-hiddenxs] {
    display: none;
  }
  [data-hiddenxs].active {
    display: block;
  }
  .btn_border {
    font-size: 13px;
  }
  .btn_border img {
    height: 14px;
  }
  .mobile-full {
    width: 100% !important;
  }
  .btn_texticon {
    font-size: 14px;
    height: 52px;
    .btn__text {
      white-space: nowrap;
      font-size: 14px;
    }
  }
  .btn_texticon .btn__icon {
    width: 52px;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }

  .formblock__input_col2 {
    width: 100%;
  }
  .formblock__label {
    font-size: 12px;
  }
  .formblock input,
  .formblock textarea {
    height: unset;
    padding-bottom: 21px;
  }

  .input-errortext {
    bottom: -14px;
  }
  .formblock__confirm .formblock__check {
    text-align: center;
  }
  .btn_large {
    font-size: 14px;
    line-height: 18px;
    padding: 17px;
  }
  .check label {
    font-size: 12px;
    line-height: 15px;
    min-height: 15px;
    padding-left: 24px;
  }
  .check label:before {
    top: 0;
  }

  .xs-mb-30 {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 480px) {
  .sm-text-23 {
    font-size: 22px;
  }
  .xs-mb-20 {
    margin-bottom: 20px !important;
  }
  .xs-pt-40 {
    padding-top: 40px !important;
  }
}
