$main: #231f20;
$orange: #f05a28;

$gray: rgba(255, 255, 255, 0.6);
$lightgray: rgba(37, 52, 79, 0.15);
$light: rgba(104, 116, 148, 0.4);
$blue: #1D88DD;
$red: rgba(237, 30, 38, 1);
$white: #fff;
$transition: all 0.3s ease;

$boxshadow: 8px 8px 40px rgba(48,54,64,.2);
