<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        <div class="breadcrumbs breadcrumbs_white">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная</span></a></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->



        <div class="errorpage">
          <div class="container">
            <div class="errorpage__cols">
              <div class="errorpage__image">
                <div class="errorpage__img"><img src="img/404.png" alt=""></div><!-- /.errorpage__img -->
              </div><!-- /.errorpage__image -->
              <div class="errorpage__main">
                <div class="errorpage__content">
                  <div class="errorpage__title">404</div><!-- /.errorpage__title -->
                  <div class="errorpage__subtitle">К сожалению мы не смогли найти эту страницу! </div>
                  <!-- /.errorpage__subtitle -->
                  <div class="errorpage__text">Но мы подобрали несколько полезных ссылок,
                    которые возможно вам понадобятся</div><!-- /.errorpage__text -->
                  <div class="errorpage__links">
                    <div class="errorpage__link"><a href="">Главная </a></div><!-- /.errorpage__link -->
                    <div class="errorpage__link"><a href="">Каталог продукции</a></div><!-- /.errorpage__link -->
                    <div class="errorpage__link"><a href="">Услуги</a></div><!-- /.errorpage__link -->
                    <div class="errorpage__link"><a href="">Контакты</a></div><!-- /.errorpage__link -->
                  </div><!-- /.errorpage__links -->
                </div><!-- /.errorpage__content -->
              </div><!-- /.errorpage__main -->
            </div><!-- /.errorpage__cols -->
          </div><!-- /.container -->
        </div><!-- /.errorpage -->





      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>