<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        <div class="breadcrumbs breadcrumbs_white">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная</span></a></li>
                <li><span>Вопрос-ответ</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->



        <div class="aboutpage">
          <div class="aboutheader" style='background-image: url(img/about1.png);'>
            <div class="container">
              <div class="aboutheader__wrapper">
                <div class="aboutheader__content">
                  <h1 class='wow slide-in-left' data-wow-duration="1s">РОСИНТЕХ - ведущий производитель изделий из
                    стеклопластика</h1>
                </div><!-- /.aboutheader__content -->
              </div><!-- /.aboutheader__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.aboutheader -->
          <div class="aboutpage__content">
            <div class="container">

              <div class="text">
                <p>ООО «Росинтех» - завод полного цикла по разработке, конструированию и изготовлению изделий из
                  стеклопластика с учетом условий эксплуатации готового изделия, в соответствии с требованиями
                  технической и экологической безопасности, с точным соблюдением геометрических и цветовых решений.


                </p>
                <p> На сегодняшний день продукция из стеклопластика стала очень популярной, благодаря своим уникальным
                  свойствам, в таких отраслях как: медицина, строительство, автопромышленность, судостроение,
                  промтовары, сельское хозяйство, детские комплексы и т.д.
                </p>
                <p> Стеклопластик, АБС-пластик представляют собой композицию отдельных материалов, сохраняющих свои
                  ценные свойства в едином изделии и наделяющих его новыми, требуемыми характеристиками.</p>
              </div><!-- /.text -->

              <div class="fitcheblock">
                <div class="container">
                  <div class="fitchesblock__items fitchesblock__items_type1">
                    <div class="fitchesblock__row">
                      <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.1s" data-wow-offset="0"
                        data-wow-duration="1.5s"
                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="fitchesblock__wrapper ">
                          <div class="fitchesblock__header">
                            <div class="fitchesblock__icon">
                              <div class="fitchesblock__img"><img src="img/fitcheblock1.png" alt=""></div>
                              <!-- /.fitchesblock__img -->
                            </div><!-- /.fitchesblock__icon -->

                          </div><!-- /.fitchesblock__header -->
                          <div class="fitchesblock__main">
                            <div class="fitchesblock__content">Собственная производственная база</div>
                            <!-- /.fitchesblock__content -->
                          </div><!-- /.fitchesblock__main -->
                        </div><!-- /.fitchesblock__wrapper -->
                      </div><!-- /.fitchesblock__item -->
                      <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.3s" data-wow-offset="0"
                        data-wow-duration="1.5s"
                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="fitchesblock__wrapper ">
                          <div class="fitchesblock__header">
                            <div class="fitchesblock__icon">
                              <div class="fitchesblock__img"><img src="img/fitcheblock2.png" alt=""></div>
                              <!-- /.fitchesblock__img -->
                            </div><!-- /.fitchesblock__icon -->

                          </div><!-- /.fitchesblock__header -->
                          <div class="fitchesblock__main">
                            <div class="fitchesblock__content">Постоянное совершенствование бизнес процессов и
                              инновационность
                            </div>
                            <!-- /.fitchesblock__content -->
                          </div><!-- /.fitchesblock__main -->
                        </div><!-- /.fitchesblock__wrapper -->
                      </div><!-- /.fitchesblock__item -->
                      <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.5s" data-wow-offset="0"
                        data-wow-duration="1.5s"
                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="fitchesblock__wrapper ">
                          <div class="fitchesblock__header">
                            <div class="fitchesblock__icon">
                              <div class="fitchesblock__img"><img src="img/fitcheblock3.png" alt=""></div>
                              <!-- /.fitchesblock__img -->
                            </div><!-- /.fitchesblock__icon -->

                          </div><!-- /.fitchesblock__header -->
                          <div class="fitchesblock__main">
                            <div class="fitchesblock__content">Развитие персонала через систему обучения, аттестации и
                              мотивации</div>
                            <!-- /.fitchesblock__content -->
                          </div><!-- /.fitchesblock__main -->
                        </div><!-- /.fitchesblock__wrapper -->
                      </div><!-- /.fitchesblock__item -->

                    </div>
                  </div><!-- /.fitchesblock__items -->
                </div><!-- /.container -->
              </div>


              <div class="text">


                <p><b>Основными преимуществами продукции из стеклопластика являются:</b> </p>
                <ul>
                  <li> высокие прочностные характеристики;</li>
                  <li> сравнительно маленький вес;</li>
                  <li> длительный срок службы;</li>
                  <li> устойчивость к агрессивному воздействию окружающей среды;</li>
                  <li> антикоррозийные свойства.</li>
                </ul>

                <p>Стеклопластик, прошедший полный производственный цикл, не содержит летучих соединений, поэтому он
                  безопасен для человека и окружающей среды.</p>

                <p>Компания «РОСИНТЕХ» рада предложить Вам сотрудничество на индивидуальных условиях – производство
                  изделий по Вашему проекту либо помощь в проектировании и подготовке к серийному выпуску, а также
                  возможность последующей реализации продукции через нашу торговую сеть.</p>


              </div>

            </div><!-- /.container -->
          </div><!-- /.aboutpage__content -->

          <div class="buttonsnav">
            <div class="container">
              <div class="buttonsnav__items">
                <div class="buttonsnav__item">
                  <a href="#" class="buttonsnav__button btn_square">Каталог
                    продукции</a><!-- /.buttonsnav__button btn_square -->
                </div><!-- /.buttonsnav__item -->
                <div class="buttonsnav__item">
                  <a href="#" class="buttonsnav__button btn_square">Реквизиты
                    компании</a><!-- /.buttonsnav__button btn_square -->
                </div><!-- /.buttonsnav__item -->
                <div class="buttonsnav__item">
                  <a href="#"
                    class="buttonsnav__button btn_square">Презентация</a><!-- /.buttonsnav__button btn_square -->
                </div><!-- /.buttonsnav__item -->
                <div class="buttonsnav__item">
                  <a href="#" class="buttonsnav__button btn_square">Скачать
                    договор</a><!-- /.buttonsnav__button btn_square -->
                </div><!-- /.buttonsnav__item -->
              </div><!-- /.buttonsnav__items -->
            </div><!-- /.container -->
          </div><!-- /.buttonsnav -->

        </div><!-- /.aboutpage -->





      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>