<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная</span></a></li>
                <li><span>Блог</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->

        <div class="pageheader">
          <div class="container">
            <h1>Блог</h1>

          </div><!-- /.container -->
        </div><!-- /.pageheader -->


        <div class="blogpage">
          <div class="container">
            <div class="blogpage__wrapper">
              <div class="blogpage__items">
                <div class="blogpage__item blogpage__item_large">
                  <div class="blogcard">
                    <div class="blogcard__wrapper">
                      <a href='#' class="blogcard__link">
                        <div class="blogcard__image">
                          <div class="blogcard__mask"></div>
                          <img src="img/blog1.jpg" alt="" width='619' height='418'>
                        </div><!-- /.blogcard__image -->
                        <div class="blogcard__content">
                          <div class="blogcard__title">
                            <span>Межосевые спойлеры на Вольво ФШ 4 (стандартный бак)</span><img src="img/arright.png"
                              alt="">
                          </div><!-- /.blogcard__title -->
                        </div><!-- /.blogcard__content -->
                      </a><!-- /.blogcard__link -->
                    </div><!-- /.blogcard__wrapper -->
                  </div><!-- /.blogcard -->
                </div>
                <div class="blogpage__item blogpage__item_large">
                  <div class="blogcard">
                    <div class="blogcard__wrapper">
                      <a href='#' class="blogcard__link">
                        <div class="blogcard__image">
                          <div class="blogcard__mask"></div>
                          <img src="img/blog1.jpg" alt="">
                        </div><!-- /.blogcard__image -->
                        <div class="blogcard__content">
                          <div class="blogcard__title">
                            <span>Межосевые спойлеры на Вольво ФШ 4 (стандартный бак)</span><img src="img/arright.png"
                              alt="">
                          </div><!-- /.blogcard__title -->
                        </div><!-- /.blogcard__content -->
                      </a><!-- /.blogcard__link -->
                    </div><!-- /.blogcard__wrapper -->
                  </div><!-- /.blogcard -->
                </div>
                <div class="blogpage__item blogpage__item_large">
                  <div class="blogcard">
                    <div class="blogcard__wrapper">
                      <a href='#' class="blogcard__link">
                        <div class="blogcard__image">
                          <div class="blogcard__mask"></div>
                          <img src="img/card3.jpg" alt="" width='619' height='446'>
                        </div><!-- /.blogcard__image -->
                        <div class="blogcard__content">
                          <div class="blogcard__title">
                            <span>Межосевые спойлеры на Вольво ФШ 4 (стандартный бак)</span><img src="img/arright.png"
                              alt="">
                          </div><!-- /.blogcard__title -->
                        </div><!-- /.blogcard__content -->
                      </a><!-- /.blogcard__link -->
                    </div><!-- /.blogcard__wrapper -->
                  </div><!-- /.blogcard -->
                </div><!-- /.blogpage__item -->


                <div class="blogpage__item blogpage__item_small">
                  <div class="blogcard">
                    <div class="blogcard__wrapper">
                      <a href='#' class="blogcard__link">
                        <div class="blogcard__image">
                          <div class="blogcard__mask">

                          </div>
                          <img src="img/blog2.jpg" alt=""  width='513' height='320'>
                        </div><!-- /.blogcard__image -->
                        <div class="blogcard__content">
                          <div class="blogcard__title">
                            <span>Межосевые спойлеры на Вольво ФШ 4 (стандартный бак)</span><img src="img/arright.png"
                              alt="">
                          </div><!-- /.blogcard__title -->
                        </div><!-- /.blogcard__content -->
                      </a><!-- /.blogcard__link -->
                    </div><!-- /.blogcard__wrapper -->
                  </div><!-- /.blogcard -->
                </div>
                <div class="blogpage__item blogpage__item_small">
                  <div class="blogcard">
                    <div class="blogcard__wrapper">
                      <a href='#' class="blogcard__link">
                        <div class="blogcard__image">
                          <div class="blogcard__mask">

                          </div>
                          <img src="img/blog2.jpg" alt="" width='513' height='320'>
                        </div><!-- /.blogcard__image -->
                        <div class="blogcard__content">
                          <div class="blogcard__title">
                            <span>Межосевые спойлеры на Вольво ФШ 4 (стандартный бак)</span><img src="img/arright.png"
                              alt="">
                          </div><!-- /.blogcard__title -->
                        </div><!-- /.blogcard__content -->
                      </a><!-- /.blogcard__link -->
                    </div><!-- /.blogcard__wrapper -->
                  </div><!-- /.blogcard -->
                </div>
                <div class="blogpage__item blogpage__item_small">
                  <div class="blogcard">
                    <div class="blogcard__wrapper">
                      <a href='#' class="blogcard__link">
                        <div class="blogcard__image">
                          <div class="blogcard__mask">

                          </div>
                          <img src="img/blog2.jpg" alt="" width='513' height='320'>
                        </div><!-- /.blogcard__image -->
                        <div class="blogcard__content">
                          <div class="blogcard__title">
                            <span>Межосевые спойлеры на Вольво ФШ 4 (стандартный бак)</span><img src="img/arright.png"
                              alt="">
                          </div><!-- /.blogcard__title -->
                        </div><!-- /.blogcard__content -->
                      </a><!-- /.blogcard__link -->
                    </div><!-- /.blogcard__wrapper -->
                  </div><!-- /.blogcard -->
                </div>
                <div class="blogpage__item blogpage__item_small">
                  <div class="blogcard">
                    <div class="blogcard__wrapper">
                      <a href='#' class="blogcard__link">
                        <div class="blogcard__image">
                          <div class="blogcard__mask">

                          </div>
                          <img src="img/blog2.jpg" alt="" width='513' height='320'>
                        </div><!-- /.blogcard__image -->
                        <div class="blogcard__content">
                          <div class="blogcard__title">
                            <span>Межосевые спойлеры на Вольво ФШ 4 (стандартный бак)</span><img src="img/arright.png"
                              alt="">
                          </div><!-- /.blogcard__title -->
                        </div><!-- /.blogcard__content -->
                      </a><!-- /.blogcard__link -->
                    </div><!-- /.blogcard__wrapper -->
                  </div><!-- /.blogcard -->
                </div><!-- /.blogpage__item -->

              </div><!-- /.blogpage__items -->
            </div><!-- /.blogpage__wrapper -->

            <div class="paginationblock">
              <div class="pagination">

                <ul>
                  <li class="active"><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><span>...</span></li>
                  <li><a href="">10</a></li>
                </ul>

              </div>
            </div>


          </div><!-- /.container -->
        </div><!-- /.blogpage -->





      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>