<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="innerpage">
        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>SK Server</span></a></li>
                <li><a href=""><span>Продукты</span></a></li>
                <li><span>Серверы</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->
        

        <div class="catalogpage">
          <div class="figure figure7">
            <img src="img/figure7.png" alt="">
          </div>
          <div class="figure figure8">
            <img src="img/figure8.png" alt="">
          </div>
          <div class="container">
            <div class="innerpage__header">
              <h1>Продукты</h1>
            </div><!-- /.innerpage__header -->
           
               <div class="productsblock__wrapper">
                <div class="productsblock__items">
                  <div class="productsblock__item slide-in-bottom wow" data-wow-delay="0.1s" data-wow-offset="0" data-wow-duration="1.0s">
                    <div class="productcard">
                      <a href='#' class="productcard__wrapper">
                        <div class="productcard__content">
                          <div class="productcard__main">
                            <div class="productcard__title">
                              Серверы
                            </div><!-- /.productcard__title -->
                            <div class="productcard__text">
                              Краткий анонс о продукте ....
                            </div><!-- /.productcard__text -->
                          </div><!-- /.productcard__main -->
                          <div class="productcard__footer">
                            <div class="productcard__link">
                              <div class="productcard__icn arrowlink">
                                <img src="img/productcard__icn.svg" alt="">
                              </div><!-- /.productcard__icn -->
                              <div class="productcard__lnk">Смотреть</div><!-- /.productcard__lnk -->
                            </div><!-- /.productcard__link -->
                          </div><!-- /.productcard__footer -->
                        </div><!-- /.productcard__content -->
                        <div class="productcard__image">
                          <div class="productcard__img">
                            <img src="img/card1.png" alt="">
                          </div><!-- /.productcard__img -->
                          
                        </div><!-- /.productcard__image -->
                      </a><!-- /.productcard__wrapper -->
                    </div><!-- /.productcard -->
                  </div><!-- /.productsblock__item -->
                  <div class="productsblock__item slide-in-bottom wow" data-wow-delay="0.3s" data-wow-offset="0" data-wow-duration="1.0s">
                    <div class="productcard">
                      <a href='#' class="productcard__wrapper">
                        <div class="productcard__content">
                          <div class="productcard__main">
                            <div class="productcard__title">
                              Серверы
                            </div><!-- /.productcard__title -->
                            <div class="productcard__text">
                              Краткий анонс о продукте ....
                            </div><!-- /.productcard__text -->
                          </div><!-- /.productcard__main -->
                          <div class="productcard__footer">
                            <div class="productcard__link">
                              <div class="productcard__icn arrowlink">
                                <img src="img/productcard__icn.svg" alt="">
                              </div><!-- /.productcard__icn -->
                              <div class="productcard__lnk">Смотреть</div><!-- /.productcard__lnk -->
                            </div><!-- /.productcard__link -->
                          </div><!-- /.productcard__footer -->
                        </div><!-- /.productcard__content -->
                        <div class="productcard__image">
                          <div class="productcard__img">
                            <img src="img/card1.png" alt="">
                          </div><!-- /.productcard__img -->
                          
                        </div><!-- /.productcard__image -->
                      </a><!-- /.productcard__wrapper -->
                    </div><!-- /.productcard -->
                  </div><!-- /.productsblock__item -->
                  <div class="productsblock__item  slide-in-bottom wow" data-wow-delay="0.5s" data-wow-offset="0" data-wow-duration="1.0s">
                    <div class="productcard">
                      <a href='#' class="productcard__wrapper">
                        <div class="productcard__content">
                          <div class="productcard__main">
                            <div class="productcard__title">
                              Графические станции
                            </div><!-- /.productcard__title -->
                            <div class="productcard__text">
                              Краткий анонс о продукте ....
                            </div><!-- /.productcard__text -->
                          </div><!-- /.productcard__main -->
                          <div class="productcard__footer">
                            <div class="productcard__link">
                              <div class="productcard__icn arrowlink">
                                <img src="img/productcard__icn.svg" alt="">
                              </div><!-- /.productcard__icn -->
                              <div class="productcard__lnk">Смотреть</div><!-- /.productcard__lnk -->
                            </div><!-- /.productcard__link -->
                          </div><!-- /.productcard__footer -->
                        </div><!-- /.productcard__content -->
                        <div class="productcard__image">
                          <div class="productcard__img">
                            <img src="img/card1.png" alt="">
                          </div><!-- /.productcard__img -->
                          
                        </div><!-- /.productcard__image -->
                      </a><!-- /.productcard__wrapper -->
                    </div><!-- /.productcard -->
                  </div><!-- /.productsblock__item -->
                  <div class="productsblock__item slide-in-bottom wow" data-wow-delay="0.7s" data-wow-offset="0" data-wow-duration="1.0s">
                    <div class="productcard">
                      <a href='#' class="productcard__wrapper">
                        <div class="productcard__content">
                          <div class="productcard__main">
                            <div class="productcard__title">
                              Серверы
                            </div><!-- /.productcard__title -->
                            <div class="productcard__text">
                              Краткий анонс о продукте ....
                            </div><!-- /.productcard__text -->
                          </div><!-- /.productcard__main -->
                          <div class="productcard__footer">
                            <div class="productcard__link">
                              <div class="productcard__icn arrowlink">
                                <img src="img/productcard__icn.svg" alt="">
                              </div><!-- /.productcard__icn -->
                              <div class="productcard__lnk">Смотреть</div><!-- /.productcard__lnk -->
                            </div><!-- /.productcard__link -->
                          </div><!-- /.productcard__footer -->
                        </div><!-- /.productcard__content -->
                        <div class="productcard__image">
                          <div class="productcard__img">
                            <img src="img/card1.png" alt="">
                          </div><!-- /.productcard__img -->
                          
                        </div><!-- /.productcard__image -->
                      </a><!-- /.productcard__wrapper -->
                    </div><!-- /.productcard -->
                  </div><!-- /.productsblock__item -->
                </div><!-- /.productsblock__items -->
              </div><!-- /.productsblock__wrapper -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.catalogpage -->


      </div><!-- /.innerpage -->    
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>