<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная</span></a></li>
                <li><span>Контакты</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->

        <div class="pageheader">
          <div class="container">
            <h1>Контакты</h1>

          </div><!-- /.container -->
        </div><!-- /.pageheader -->


        <div class="contactspage">
          <div class="container">
            <div class="contactspage__cols">
              <div class="contactspage__main">
                <div class="contactspage__items">
                  <div class="contactspage__item">
                    <div class="contactdata">
                      <div class="contactdata__wrapper">
                        <div class="contactdata__icon"><img src="img/phone_iphone_black_24dp.svg" alt=""></div>
                        <!-- /.contactdata__icon -->
                        <div class="contactdata__content">
                          <div class="contactdata__title">Звоните</div><!-- /.contactdata__title -->
                          <div class="contactdata__value"><a href="tel: 8 800 777 66 55"> <span class="orange"> 8 800
                              </span>777 66 55</a></div>
                          <!-- /.contactdata__value -->
                        </div><!-- /.contactdata__content -->
                      </div><!-- /.contactdata__wrapper -->
                    </div><!-- /.contactdata -->
                  </div><!-- /.contactspage__item -->
                  <div class="contactspage__item">
                    <div class="contactdata">
                      <div class="contactdata__wrapper">
                        <div class="contactdata__icon"><img src="img/forward_to_inbox_black_24dp.svg" alt=""></div>
                        <!-- /.contactdata__icon -->
                        <div class="contactdata__content">
                          <div class="contactdata__title">Пишите</div><!-- /.contactdata__title -->
                          <div class="contactdata__value"><a href="mailto:info@aerospoiler.ru"><span
                                class="orange">info@</span>aerospoiler.ru</a>
                          </div><!-- /.contactdata__value -->
                        </div><!-- /.contactdata__content -->
                      </div><!-- /.contactdata__wrapper -->
                    </div><!-- /.contactdata -->
                  </div><!-- /.contactspage__item -->
                  <div class="contactspage__item">
                    <div class="contactdata">
                      <div class="contactdata__wrapper">
                        <div class="contactdata__icon"><img src="img/fmd_good_black_24dp.svg" alt=""></div>
                        <!-- /.contactdata__icon -->
                        <div class="contactdata__content">
                          <div class="contactdata__title">Наш адрес</div><!-- /.contactdata__title -->
                          <div class="contactdata__value">Москва, ул. 5-й Донской проезд, д.15, стр.9</div>
                          <!-- /.contactdata__value -->
                        </div><!-- /.contactdata__content -->
                      </div><!-- /.contactdata__wrapper -->
                    </div><!-- /.contactdata -->
                  </div><!-- /.contactspage__item -->
                </div><!-- /.contactspage__items -->
              </div><!-- /.contactspage__main -->
              <div class="contactspage__map">
                <div class="map">
                  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab197e12d87056e0773e3d6ed0301c8f7be919fd812785ff71af569f64a6fe6e6&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                </div><!-- /.map -->
              </div><!-- /.contactspage__map -->
            </div><!-- /.contactspage__cols -->
          </div><!-- /.container -->
        </div><!-- /.contactspage -->





      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>