<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        <div class="mainblock">
          <div class="container">

            <div class="mainblock__wrapper flex items-center">
              <div class="mainblock__content">
                <div class="mainblock__title">
                  Производство <span class="orange">аэродинамических деталей</span>
                </div><!-- /.mainblock__title -->
                <div class="mainblock__subtitle">Межосевые спойлеры и аэродинамические обтекатели для грузовых
                  автомобилей.
                </div><!-- /.mainblock__subtitle -->
                <div class="mainblock__button">
                  <a href="#" class="btn_main">Перейти в каталог</a>
                </div><!-- /.mainblock__button -->
              </div><!-- /.mainblock__content -->
              <div class="mainblock__image">
                <img src="img/trucs.jpg" alt="">
              </div><!-- /.mainblock__image -->
            </div><!-- /.mainblock__wrapper -->
          </div><!-- /.container -->

        </div><!-- /.mainblock -->



        <div class="fitcheblock">
          <div class="container">
            <h2>Преимущества компании</h2>
            <div class="fitchesblock__items fitchesblock__items_type1">
              <div class="fitchesblock__row">
                <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.1s" data-wow-offset="0"
                  data-wow-duration="1.5s">
                  <div class="fitchesblock__wrapper ">
                    <div class="fitchesblock__header">
                      <div class="fitchesblock__icon">
                        <div class="fitchesblock__img"><img src="img/fitcheblock1.png" alt=""></div>
                        <!-- /.fitchesblock__img -->
                      </div><!-- /.fitchesblock__icon -->

                    </div><!-- /.fitchesblock__header -->
                    <div class="fitchesblock__main">
                      <div class="fitchesblock__content">Собственная производственная база</div>
                      <!-- /.fitchesblock__content -->
                    </div><!-- /.fitchesblock__main -->
                  </div><!-- /.fitchesblock__wrapper -->
                </div><!-- /.fitchesblock__item -->
                <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.3s" data-wow-offset="0"
                  data-wow-duration="1.5s">
                  <div class="fitchesblock__wrapper ">
                    <div class="fitchesblock__header">
                      <div class="fitchesblock__icon">
                        <div class="fitchesblock__img"><img src="img/fitcheblock2.png" alt=""></div>
                        <!-- /.fitchesblock__img -->
                      </div><!-- /.fitchesblock__icon -->

                    </div><!-- /.fitchesblock__header -->
                    <div class="fitchesblock__main">
                      <div class="fitchesblock__content">Постоянное совершенствование бизнес процессов и инновационность
                      </div>
                      <!-- /.fitchesblock__content -->
                    </div><!-- /.fitchesblock__main -->
                  </div><!-- /.fitchesblock__wrapper -->
                </div><!-- /.fitchesblock__item -->
                <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.5s" data-wow-offset="0"
                  data-wow-duration="1.5s">
                  <div class="fitchesblock__wrapper ">
                    <div class="fitchesblock__header">
                      <div class="fitchesblock__icon">
                        <div class="fitchesblock__img"><img src="img/fitcheblock3.png" alt=""></div>
                        <!-- /.fitchesblock__img -->
                      </div><!-- /.fitchesblock__icon -->

                    </div><!-- /.fitchesblock__header -->
                    <div class="fitchesblock__main">
                      <div class="fitchesblock__content">Развитие персонала через систему обучения, аттестации и
                        мотивации</div>
                      <!-- /.fitchesblock__content -->
                    </div><!-- /.fitchesblock__main -->
                  </div><!-- /.fitchesblock__wrapper -->
                </div><!-- /.fitchesblock__item -->

              </div>
            </div><!-- /.fitchesblock__items -->
          </div><!-- /.container -->
        </div><!-- /.fitcheblock -->



        <div class=" productsblock">

          <div class="container">
            <div class="blockheader">
              <h2>Наша продукция</h2>
            </div><!-- /.blockheader -->
            <div class="productsblock__wrapper">
              <div class="productsblock__items">
                <div class="productsblock__item">
                  <div class="productcard">
                    <a href='#' class="productcard__wrapper">
                      <div class="productcard__content">
                        <div class="productcard__main">
                          <div class="productcard__header">
                            <div class="productcard__logo"><img src="img/volvo.png" alt=""></div>
                            <!-- /.productcard__logo -->
                            <div class="productcard__title">
                              Межосевые спойлеры на Volvo FH
                            </div><!-- /.productcard__title -->
  
                          </div><!-- /.productcard__header -->
                       
                        </div><!-- /.productcard__main -->
                        <div class="productcard__footer">
                          <div class="productcard__link">
                            <div class="productcard__lnk">Узнать подробнее</div><!-- /.productcard__lnk -->

                            <div class="productcard__icn arrowlink">
                              <img src="img/productcard__icn.png" alt="">
                            </div><!-- /.productcard__icn -->
                          </div><!-- /.productcard__link -->
                        </div><!-- /.productcard__footer -->
                      </div><!-- /.productcard__content -->
                      <div class="productcard__image">
                        <div class="productcard__img">
                          <img src="img/1.png" alt="" class='productcard__image_1'>
                          <img src="img/11.png" alt="" class='productcard__image_2'>
                        </div><!-- /.productcard__img -->

                      </div><!-- /.productcard__image -->
                    </a><!-- /.productcard__wrapper -->
                  </div><!-- /.productcard -->
                </div><!-- /.productsblock__item -->

                <div class="productsblock__item">
                  <div class="productcard">
                    <a href='#' class="productcard__wrapper">
                      <div class="productcard__content">
                        <div class="productcard__main">
                          <div class="productcard__header">
                          <div class="productcard__logo"><img src="img/mers.png" alt=""></div>
                          <!-- /.productcard__logo -->
                          <div class="productcard__title">
                            Аэродинамические спойлеры и обтекатели на Mercedes
                          </div><!-- /.productcard__title -->
                        </div>
                        </div><!-- /.productcard__main -->
                        <div class="productcard__footer">
                          <div class="productcard__link">
                            <div class="productcard__lnk">Узнать подробнее</div><!-- /.productcard__lnk -->

                            <div class="productcard__icn arrowlink">
                              <img src="img/productcard__icn.png" alt="">
                            </div><!-- /.productcard__icn -->
                          </div><!-- /.productcard__link -->
                        </div><!-- /.productcard__footer -->
                      </div><!-- /.productcard__content -->
                      <div class="productcard__image">
                        <div class="productcard__img">
                          <img src="img/2.png" alt="" class='productcard__image_1'>
                          <img src="img/22.png" alt="" class='productcard__image_2'>
                        </div><!-- /.productcard__img -->

                      </div><!-- /.productcard__image -->
                    </a><!-- /.productcard__wrapper -->
                  </div><!-- /.productcard -->
                </div><!-- /.productsblock__item -->
                <div class="productsblock__item">
                  <div class="productcard">
                    <a href='#' class="productcard__wrapper">
                      <div class="productcard__content">
                        <div class="productcard__main">
                          <div class="productcard__header">
                          <div class="productcard__logo"><img src="img/hnd.png" alt=""></div>
                          <!-- /.productcard__logo -->
                          <div class="productcard__title">
                            Аэродинамические обтекатели на Hyundai
                          </div><!-- /.productcard__title -->
                          </div>
                        </div><!-- /.productcard__main -->
                        <div class="productcard__footer">
                          <div class="productcard__link">
                            <div class="productcard__lnk">Узнать подробнее</div><!-- /.productcard__lnk -->

                            <div class="productcard__icn arrowlink">
                              <img src="img/productcard__icn.png" alt="">
                            </div><!-- /.productcard__icn -->
                          </div><!-- /.productcard__link -->
                        </div><!-- /.productcard__footer -->
                      </div><!-- /.productcard__content -->
                      <div class="productcard__image">
                        <div class="productcard__img">
                          <img src="img/3.png" alt="" class='productcard__image_1'>
                          <img src="img/33.png" alt="" class='productcard__image_2'>
                        </div><!-- /.productcard__img -->

                      </div><!-- /.productcard__image -->
                    </a><!-- /.productcard__wrapper -->
                  </div><!-- /.productcard -->
                </div><!-- /.productsblock__item -->
                <div class="productsblock__item">
                  <div class="productcard">
                    <a href='#' class="productcard__wrapper">
                      <div class="productcard__content">
                        <div class="productcard__main">
                          <div class="productcard__header">

                          <div class="productcard__logo"><img src="img/isuzu.png" alt=""></div>
                          <!-- /.productcard__logo -->
                          <div class="productcard__title">
                            Аэродинамические обтекатели на Isuzu
                          </div><!-- /.productcard__title -->
                        </div>
                        </div><!-- /.productcard__main -->
                        <div class="productcard__footer">
                          <div class="productcard__link">
                            <div class="productcard__lnk">Узнать подробнее</div><!-- /.productcard__lnk -->

                            <div class="productcard__icn arrowlink">
                              <img src="img/productcard__icn.png" alt="">
                            </div><!-- /.productcard__icn -->
                          </div><!-- /.productcard__link -->
                        </div><!-- /.productcard__footer -->
                      </div><!-- /.productcard__content -->
                      <div class="productcard__image">
                        <div class="productcard__img">
                          <img src="img/4.png" alt="" class='productcard__image_1'>
                          <img src="img/44.png" alt="" class='productcard__image_2'>
                        </div><!-- /.productcard__img -->

                      </div><!-- /.productcard__image -->
                    </a><!-- /.productcard__wrapper -->
                  </div><!-- /.productcard -->
                </div><!-- /.productsblock__item -->

              </div><!-- /.productsblock__items -->
            </div><!-- /.productsblock__wrapper -->
          </div>
        </div>

        <div class="seoblock">
          <div class="container">
            <div class="text">
              <h1>Производство автомобильных изделий из стеклопластика</h1>
              <p>ООО «Росинтех» - завод полного цикла по разработке, конструированию и изготовлению изделий из
                стеклопластика с учетом условий эксплуатации готового изделия, в соответствии с требованиями технической
                и экологической безопасности, с точным соблюдением геометрических и цветовых решений.</p>

              <p>На сегодняшний день продукция из стеклопластика стала очень популярной, благодаря своим уникальным
                свойствам, в таких отраслях как: медицина, строительство, автопромышленность, судостроение, промтовары,
                сельское хозяйство, детские комплексы и т.д.</p>

              <p>Стеклопластик, АБС-пластик представляют собой композицию отдельных материалов, сохраняющих свои ценные
                свойства в едином изделии и наделяющих его новыми, требуемыми характеристиками.</p>



                <div class='texthidden' data-hidden="text">
                  <p><b>Основными преимуществами продукции из стеклопластика являются:</b> </p>
                  <ul>
                    <li> высокие прочностные характеристики;</li>
                    <li> сравнительно маленький вес;</li>
                    <li> длительный срок службы;</li>
                    <li> устойчивость к агрессивному воздействию окружающей среды;</li>
                    <li> антикоррозийные свойства.</li>
                  </ul>
    
    
    
    
    
    
                  <p>Стеклопластик, прошедший полный производственный цикл, не содержит летучих соединений, поэтому он
                    безопасен для человека и окружающей среды.</p>
    
                  <p>Компания «РОСИНТЕХ» рада предложить Вам сотрудничество на индивидуальных условиях – производство
                    изделий по Вашему проекту либо помощь в проектировании и подготовке к серийному выпуску, а также
                    возможность последующей реализации продукции через нашу торговую сеть.</p>
                </div>


                <div class="showtext onlyMobile" data-wrapper="text">
                  <a href="#" class="btn_border" data-btnhidden="text">
                    <span>Читать далее</span>
                  </a>
                </div>
           
            </div><!-- /.text -->
          </div><!-- /.container -->
        </div><!-- /.seoblock -->

        <div class="layerblock" style="background-image: url(img/layerblock.png);">
          <div class="layerblock__mask" style="background-image: url(img/layerblock__mask.png);">
            <div class="container">
              <div class="layerblock__wrapper">
                <div class="layerblock__title">
                  <mark>Качество и долговечность </mark> <br> 
                  &nbsp;изделий Aerospoiler.ru
                </div><!-- /.layerblock__title -->
                <div class="layerblock__content text text_white">
                  <ul>
                    <li>Обтекатели изготавливаются из импортных материалов в заводских условиях с контролем качества.

                    <li>Для производства изделий из стеклопластика используется сырье ведущих мировых производителей.
                      Это сырье имеет все необходимые сертификаты, в том числе санитарно-гигиенические.</li>

                    <li>Все спойлеры обтекатели имеют сертификат и соответствуют техническим условиям.</li>

                    <li>Спойлеры изготавливаются из армированного стеклопластика. Конструкция и технология производства
                      обтекателей совершенствуется уже много лет, подтверждая качество продукции. На спойлеры
                      предоставляется гарантия завода-производителя! Продукция сертифицирована!</li>

                    <li>Цвет и блеск спойлеру придаёт атмосферостойкое гелевое покрытие. Гелевое покрытие: не выцветает,
                      легко восстанавливается.

                    </li>
                  </ul>
                </div><!-- /.layerblock__content -->
              </div><!-- /.layerblock__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.layerblock__mask -->
        </div><!-- /.layerblock -->





      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>