<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        
        <div class="landing">
          <div class="landingheader">
            <div class="container">
              <div class="landingheader__wrapper">
                <div class="landingheader__title">
                  <h1>Аэродинамические спойлеры на Mercedes</h1>
                </div>
                <div class="landingheader__button onlyMobile">
                  <img src="img/dropdown.png" alt="">
                </div><!-- /.landingheader__button onlyMobile -->
                <div class="landingheader__menu">
                  <ul>
                    <li><a href="#fitches" class='scrollTo'>Преимущества</a></li>
                    <li><a href="#models"  class='scrollTo'>Выбор модели</a></li>
                    <li><a href="#gallery"  class='scrollTo'>Фотогалерея</a></li>
                    <li><a href="#video"  class='scrollTo'>Видеообзор</a></li>
                  </ul>
                </div><!-- /.landingheader__menu -->
              </div><!-- /.landingheader__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.landingheader -->

          <div class="landingmain" style='background-image: url(img/mersbg.png);'>
            <div class="container">
              <div class="landingmain__wrapper">
                <div class="landingmain__content">
                  <div class="landingmain__title  slide-in-left wow" data-wow-duration="1.5">
                    Аэродинамические <br> <span class="orange">спойлеры на Mercedes</span>
                  </div><!-- /.landingmain__title -->
                  <div class="landingmain__buttons"><a href="#models" class="btn_main scrollTo">Перейти в каталог</a><!-- /.btn_main --></div><!-- /.landingmain__buttons -->
                </div><!-- /.landingmain__content -->
              </div><!-- /.landingmain__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.landingmain -->


          <div class="landindfitches" id='fitches'>
            <div class="container">
              <div class="landindfitches__wrapper flex">
                <div class="landindfitches__main">
                  <div class="landindfitches__title  slide-in-left wow" data-wow-duration="1.5">Преимущества межосевых спойлеров на Mercedes Actros</div>
                    <div class="landindfitches__items">
                      <div class="landindfitches__item  slide-in-left wow" data-wow-duration="1.5" data-wow-delay="0.2s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__icon">
                            <img src="img/russia_db7k98174rzf.svg" alt="">
                          </div><!-- /.landindfitches__image -->
                          <div class="landindfitches__text">Произведено <br> в России </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                      <div class="landindfitches__item  slide-in-left wow" data-wow-duration="1.5" data-wow-delay="0.4s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__icon">
                            <img src="img/innovation_cqhrerzx1p1b.svg" alt="">
                          </div><!-- /.landindfitches__image -->
                          <div class="landindfitches__text">Применение <br> инновационных <br> технологий  </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                      <div class="landindfitches__item  slide-in-left wow" data-wow-duration="1.5" data-wow-delay="0.6s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__icon">
                            <img src="img/weather_93joyr7jm9wj.svg" alt="">
                          </div><!-- /.landindfitches__image -->
                          <div class="landindfitches__text">Устойчивость к <br> агрессивному <br> воздействию  <br>окружающей среды </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                      <div class="landindfitches__item  slide-in-left wow" data-wow-duration="1.5" data-wow-delay="0.8s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__icon">
                            <img src="img/protection_06v4unqyxtyk.svg" alt="">
                          </div><!-- /.landindfitches__image -->
                          <div class="landindfitches__text">Дополнительная защита <br> топливных баков  </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                    </div><!-- /.landindfitches__items -->
                </div><!-- /.landindfitches__main -->
                <div class="landindfitches__aside">
                  <div class="landindfitches__image slide-in-right wow" data-wow-duration="1.5"><img src="img/mers1.png" alt=""></div><!-- /.landindfitches__image -->
                </div><!-- /.landindfitches__aside -->
              </div><!-- /.landindfitches__wrapper flex -->
            </div><!-- /.container -->
          </div><!-- /.landindfitches -->
          <div class="landindfitches landindfitches_black" id='fitches2'>
            <div class="container">
              <div class="landindfitches__wrapper flex">
                
                <div class="landindfitches__aside">
                  <div class="landindfitches__image"><img src="img/mers2.png" alt=""></div><!-- /.landindfitches__image -->
                </div><!-- /.landindfitches__aside -->

                <div class="landindfitches__main">
                  <div class="landindfitches__title slide-in-right wow" data-wow-duration="1.5">Преимущества обтекателей на  Mercedes Sprinter</div>
                    <div class="landindfitches__items">
                      <div class="landindfitches__item slide-in-right wow" data-wow-duration="1.5" data-wow-delay="0.2s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__icon">
                            <img src="img/russia_db7k98174rzf.svg" alt="">
                          </div><!-- /.landindfitches__image -->
                          <div class="landindfitches__text">Произведено <br> в России </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                      <div class="landindfitches__item slide-in-right wow" data-wow-duration="1.5" data-wow-delay="0.4s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__icon">
                            <img src="img/innovation_cqhrerzx1p1b.svg" alt="">
                          </div><!-- /.landindfitches__image -->
                          <div class="landindfitches__text">Экономия топлива <br> 10-20%  </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                      <div class="landindfitches__item slide-in-right wow" data-wow-duration="1.5" data-wow-delay="0.6s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__icon">
                            <img src="img/weather_93joyr7jm9wj.svg" alt="">
                          </div><!-- /.landindfitches__image -->
                          <div class="landindfitches__text">Антикоррозийные <br> свойства </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                      <div class="landindfitches__item slide-in-right wow" data-wow-duration="1.5" data-wow-delay="0.8s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__icon">
                            <img src="img/protection_06v4unqyxtyk.svg" alt="">
                          </div><!-- /.landindfitches__image -->
                          <div class="landindfitches__text">Повышение курсовой <br> устойчивости автомобиля </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                    </div><!-- /.landindfitches__items -->
                </div><!-- /.landindfitches__main -->
              </div><!-- /.landindfitches__wrapper flex -->
            </div><!-- /.container -->
          </div><!-- /.landindfitches -->

          <div class="landingcards" id='models'>
            <div class="container">
              <div class="landingcards__header">
                <h2>Выбор спойлера</h2>
              </div>
              <div class="landingcards__items">
                <div class="landingcards__item">
                  <a href="#" class="landingcards__wrapper">
                    <div class="landingcards__image">
                      <img src="img/landingcards1.png" alt="">
                    </div><!-- /.landingcards__image -->
                    <div class="landingcards__title">Межосевой спойлер на Mercedes
                      Actros</div><!-- /.landingcards__title -->
                    <div class="landingcards__button">
                      <span  class='btn_main'>Заказать спойлер</span>
                    </div><!-- /.landingcards__button -->
                  </a><!-- /.landingcards__wrapper -->
                </div><!-- /.landingcards__item -->
                <div class="landingcards__item">
                  <a href="#" class="landingcards__wrapper">
                    <div class="landingcards__image">
                      <img src="img/landingcards2.png" alt="">
                    </div><!-- /.landingcards__image -->
                    <div class="landingcards__title">Аэродинамический обтекатель на  Mercedes Sprinter</div><!-- /.landingcards__title -->
                    <div class="landingcards__button">
                      <span class='btn_main'>Заказать спойлер</span>
                    </div><!-- /.landingcards__button -->
                  </a><!-- /.landingcards__wrapper -->
                </div><!-- /.landingcards__item -->
              </div><!-- /.landingcards__items -->
            </div><!-- /.container -->
          </div><!-- /.landingcards -->

          <div class="landingcontact">
            <div class="container">
              <div class="landingcontact__wrapper">
                <div class="landingcontact__main">
                  <div class="landingcontact__title">Затрудняетесь с выбором?</div><!-- /.landingcontact__title -->
                  <div class="landingcontact__text">Позвоните нам по номеру <b>8 (495) 123-45-67</b> 
                    или оставьте заявку на обратный звонок и наш специалист перезвонит вам!</div><!-- /.landingcontact__text -->
                  <div class="landingcontact__button">
                    <a href="#modal_callback" data-toggle="modal" class="btn_main">Заказать звонок</a>
                  </div><!-- /.landingcontact__button -->
                </div><!-- /.landingcontact__main -->
                <div class="landingcontact__image">
                  <img src="img/landingcontact__image.png" alt="">
                </div><!-- /.landingcontact__image -->
              </div><!-- /.landingcontact__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.landingcontact -->

          <div class="landingavantages">
            <div class="fitcheblock">
              <div class="container">
                <h2>Преимущества покупки спойлера у нас</h2>
                <div class="fitchesblock__items fitchesblock__items_landing">
                  <div class="fitchesblock__row">
                    <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.1s" data-wow-offset="0"
                      data-wow-duration="1.5s">
                      <div class="fitchesblock__wrapper ">
                        <div class="fitchesblock__header">
                          <div class="fitchesblock__icon">
                            <div class="fitchesblock__img"><img src="img/quality_tvs1opjqw1nx.svg" alt=""></div>
                            <!-- /.fitchesblock__img -->
                          </div><!-- /.fitchesblock__icon -->
    
                        </div><!-- /.fitchesblock__header -->
                        <div class="fitchesblock__main">
                          <div class="fitchesblock__title">Качество материлов</div>
                          <div class="fitchesblock__content">Изготавливаются из импортных материалов в заводских условиях с контролем качества</div>
                          <!-- /.fitchesblock__content -->
                        </div><!-- /.fitchesblock__main -->
                      </div><!-- /.fitchesblock__wrapper -->
                    </div><!-- /.fitchesblock__item -->
                  
                    <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.3s" data-wow-offset="0"
                      data-wow-duration="1.5s">
                      <div class="fitchesblock__wrapper ">
                        <div class="fitchesblock__header">
                          <div class="fitchesblock__icon">
                            <div class="fitchesblock__img"><img src="img/warranty_936dzjcawj7g.svg" alt=""></div>
                            <!-- /.fitchesblock__img -->
                          </div><!-- /.fitchesblock__icon -->
    
                        </div><!-- /.fitchesblock__header -->
                        <div class="fitchesblock__main">
                          <div class="fitchesblock__title">Гарантия</div>
                          <div class="fitchesblock__content">Все спойлеры обтекатели имеют сертификат и соответству</div>
                          <!-- /.fitchesblock__content -->
                        </div><!-- /.fitchesblock__main -->
                      </div><!-- /.fitchesblock__wrapper -->
                    </div><!-- /.fitchesblock__item -->
                  
    
                    <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.5s" data-wow-offset="0"
                      data-wow-duration="1.5s">
                      <div class="fitchesblock__wrapper ">
                        <div class="fitchesblock__header">
                          <div class="fitchesblock__icon">
                            <div class="fitchesblock__img"><img src="img/palette_uooeavui0705.svg" alt=""></div>
                            <!-- /.fitchesblock__img -->
                          </div><!-- /.fitchesblock__icon -->
    
                        </div><!-- /.fitchesblock__header -->
                        <div class="fitchesblock__main">
                          <div class="fitchesblock__title">Выбор цвета</div>
                          <div class="fitchesblock__content">Изделия могут поставляться, как грунтованные под покраску, так и окрашенные в любой цвет по выбранному RAL</div>
                          <!-- /.fitchesblock__content -->
                        </div><!-- /.fitchesblock__main -->
                      </div><!-- /.fitchesblock__wrapper -->
                    </div><!-- /.fitchesblock__item -->
                  
                    <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.7s" data-wow-offset="0"
                      data-wow-duration="1.5s">
                      <div class="fitchesblock__wrapper ">
                        <div class="fitchesblock__header">
                          <div class="fitchesblock__icon">
                            <div class="fitchesblock__img"><img src="img/strut_mounting_0koilutff3cm.svg" alt=""></div>
                            <!-- /.fitchesblock__img -->
                          </div><!-- /.fitchesblock__icon -->
    
                        </div><!-- /.fitchesblock__header -->
                        <div class="fitchesblock__main">
                          <div class="fitchesblock__title">Надежность креплений</div>
                          <div class="fitchesblock__content"> Крепления поставляются в комплекте и окрашены специальной антикоррозионой краской </div>
                          <!-- /.fitchesblock__content -->
                        </div><!-- /.fitchesblock__main -->
                      </div><!-- /.fitchesblock__wrapper -->
                    </div><!-- /.fitchesblock__item -->
                  
    
                    <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.9s" data-wow-offset="0"
                      data-wow-duration="1.5s">
                      <div class="fitchesblock__wrapper ">
                        <div class="fitchesblock__header">
                          <div class="fitchesblock__icon">
                            <div class="fitchesblock__img"><img src="img/exclusive_shztq2m37lkh.svg" alt=""></div>
                            <!-- /.fitchesblock__img -->
                          </div><!-- /.fitchesblock__icon -->
    
                        </div><!-- /.fitchesblock__header -->
                        <div class="fitchesblock__main">
                          <div class="fitchesblock__title">Эксклюзив</div>
                          <div class="fitchesblock__content">Разработаем эксклюзивное изделие по вашему техническому заданию</div>
                          <!-- /.fitchesblock__content -->
                        </div><!-- /.fitchesblock__main -->
                      </div><!-- /.fitchesblock__wrapper -->
                    </div><!-- /.fitchesblock__item -->
                    <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="1.1s" data-wow-offset="0"
                      data-wow-duration="1.5s">
                      <div class="fitchesblock__wrapper ">
                        <div class="fitchesblock__header">
                          <div class="fitchesblock__icon">
                            <div class="fitchesblock__img"><img src="img/discounts_0x6a0wf727ij.svg" alt=""></div>
                            <!-- /.fitchesblock__img -->
                          </div><!-- /.fitchesblock__icon -->
    
                        </div><!-- /.fitchesblock__header -->
                        <div class="fitchesblock__main">
                          <div class="fitchesblock__title">Программа лояльности</div>
                          <div class="fitchesblock__content"> Гибкая система скидок при заказе от 3 комплектов спойлеров.</div>
                          <!-- /.fitchesblock__content -->
                        </div><!-- /.fitchesblock__main -->
                      </div><!-- /.fitchesblock__wrapper -->
                    </div><!-- /.fitchesblock__item -->
                  
    
                  </div>
                </div><!-- /.fitchesblock__items -->
              </div><!-- /.container -->
            </div><!-- /.fitcheblock -->
    
          </div><!-- /.landingavantages -->

          <div class="landinggallery" id='gallery'>
            <div class="container">
            <h2>Фото спойлеров на Мерседес</h2>
              <div class="landinggallery__items">
                <div class="landinggallery__item">
                  <a href='img/galleryblock1.png' data-lightbox='gallery_1' class="galleryblock">
                    <div class="galleryblock__mask"></div><!-- /.galleryblock__mask -->
                    <div class="galleryblock__content">
                      <div class="galleryblock__image">
                        <img src="img/galleryblock1.png" alt="">
                      </div><!-- /.galleryblock__image -->
                      <div class="galleryblock__title">Межосевые спойлеры на Mercedes Actros</div><!-- /.galleryblock__title -->
                    </div><!-- /.galleryblock__content -->
                  </a><!-- /.galleryblock -->

               

                </div><!-- /.landinggallery__item -->
                <div class="landinggallery__item">
                  <a href='img/galleryblock2.png' data-lightbox='gallery_2' class="galleryblock">
                    <div class="galleryblock__mask"></div><!-- /.galleryblock__mask -->
                    <div class="galleryblock__content">
                      <div class="galleryblock__image">
                        <img src="img/galleryblock2.png" alt="">
                      </div><!-- /.galleryblock__image -->
                      <div class="galleryblock__title">Аэродинамические обтекатели на Mercedes Sprinter</div><!-- /.galleryblock__title -->
                    </div><!-- /.galleryblock__content -->
                  </a><!-- /.galleryblock -->

                </div><!-- /.landinggallery__item -->
              </div><!-- /.landinggallery__items -->
              
                  <!-- остальные фото тут -->
                  <a href="img/mers1.png" data-lightbox='gallery_1'></a>
                  <a href="img/mers2.png" data-lightbox='gallery_1'></a>
                  
                  <a href="img/mers1.png" data-lightbox='gallery_2'></a>
                  <a href="img/mers2.png" data-lightbox='gallery_2'></a>

            </div><!-- /.container -->
          </div><!-- /.landinggallery -->


          <div class="landingvideo" id='video'>
            <div class="container">
              <h2>Видеообзор Мерседес Актрос</h2>
              <div class="videoblock">
                <div class="videoblock__wrapper">
                  <a data-ytlink="//www.youtube.com/embed/YFiWsIVpIoY?enablejsapi=1" tabindex="0" href="#!" class="videoblock__link">
                    <div class="videoblock__thumb">
                      <img src="img/videoblock__thumb.png" alt="">
                    </div><!-- /.videoblock__thumb -->
                    <div class="videoblock__icon">
                      <img src="img/play_circle_filled_black_24dp.svg" alt="">
                    </div><!-- /.videoblock__icon -->
                  </a>
                </div><!-- /.videoblock__wrapper -->
              </div><!-- /.videoblock -->
            </div><!-- /.container -->
          </div><!-- /.landingvideo -->

        </div><!-- /.landing -->

      
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>