<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="innerpage">
          <div class="breadcrumbs">
            <div class="container">
              <div class="breadcrumbs__items">
                <ul>
                  <li><a href="/"><span>SK Server</span></a></li>
                  <li><a href=""><span>Продукты</span></a></li>
                  <li><span>Серверы</span></li>
                </ul>
              </div>
              <!-- /.breadcrumbs__items -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.breadcrumbs -->


          <div class="detailnewspage">
       
            <div class="container">
              <div class="detailnewspage__header">
                <div class="detailnewspage__title">
                  <h1>Окончание срока действия лицензий Windows Server 2019</h1>
                </div><!-- /.innerpage__header -->
                <div class="detailnewspage__title__info">18.03.2022</div><!-- /.detailnewspage__title__info -->
              </div><!-- /.detailnewspage__header -->
              
            </div>
            <!-- /.container -->

          <div class="wavebgblock">
            <div class="container">
              <div class="detailnewspage__content">
                <div class="detailnewspage__image">
                  <div class="detailnewspage__img"><img src="img/detailnews1.png" width='1450' height='586' alt=""></div><!-- /.detailnewspage__img -->
                </div><!-- /.detailnewspage__image -->
              </div><!-- /.detailnewspage__content -->
              <div class="detailnewspage__description text">
                <h2>Подзаголовок</h2>
                <p>В течение 1-го года гарантийного обслуживания - выезд инженера сервисной службы для выполнения гарантийных работ по диагностике и ремонту вышедшего из строя оборудования осуществляется либо в день обращения, либо на следующий рабочий день.* Если выполнения гарантийных работ по диагностике и ремонту оборудования будет невозможно на месте эксплуатации, компания SK Server Technologies транспортирует оборудование в сервисный центр для полной диагностики и ремонта.</p>

                  <p>В течение 1-го года гарантийного обслуживания - выезд инженера сервисной службы для выполнения гарантийных работ по диагностике и ремонту вышедшего из строя оборудования осуществляется либо в день обращения, либо на следующий рабочий день.* Если выполнения гарантийных работ по диагностике и ремонту оборудования будет невозможно на месте эксплуатации, компания SK Server Technologies транспортирует оборудование в сервисный центр для полной диагностики и ремонта.В течение 1-го года гарантийного обслуживания - выезд инженера сервисной службы для выполнения гарантийных работ по диагностике и ремонту вышедшего из строя оборудования осуществляется либо в день обращения, либо на следующий рабочий день.* Если выполнения гарантийных работ по диагностике и ремонту оборудования будет невозможно на месте эксплуатации, компания SK Server Technologies транспортирует оборудование в сервисный центр для полной диагностики и ремонта.</p>

                  <h2>Маркированный список</h2>

                  <ul>
                    <li>Компания SK Server Technologies обязуется производить гарантийный ремонт поставляемой техники при условии соблюдения заказчиком правил эксплуатации.</li>
                    <li>В течение 1-го года гарантийного обслуживания - выезд инженера сервисной службы для выполнения гарантийных работ по диагностике и ремонту вышедшего из строя оборудования осуществляется либо в день обращения, либо на следующий рабочий день.* Если выполнения гарантийных работ по диагностике и ремонту оборудования будет невозможно на месте эксплуатации, компания SK Server Technologies транспортирует оборудование в сервисный центр для полной диагностики и ремонта.</li>
                    <li>В течение 2-го и 3-го года - гарантийное обслуживание выполняется в сервисном центре компании SK Server Technologies.</li>
                    <li>Продолжительность гарантийного ремонта не должна превышать 40 рабочих дней. Гарантийный срок продлевается на время нахождения Оборудования в ремонте.</li>
                    <li>В случае проявления у приобретенного оборудования существенного недостатка (т.е. недостатка, который не может быть устранен) производится замена неисправного изделия на аналогичное исправное изделие (при обязательном наличии заключения сервисного центра о существенности недостатка изделия).</li>
                    <li>В ремонте поставляемого оборудования может быть отказано:</li>
                  </ul>
              </div><!-- /.detailnewspage__description -->

              <div class="detailnewspage__related">
                <div class="blockheader flex content-between">
                  <h2>Другие статьи</h2>
                  <div class="extlink onlyDesktop">
                  <a href="#" class="btn_border ">
                    <span>Cмотреть все</span>
                    <img src="img/btn.svg" alt="">
                  </a>
                </div><!-- /.extlink -->
                </div>
                <div class="newslist">
                  <div class="newslist__items">
                    <div class="newslist__item">
                      <div class="newscard">
                        <div class="newscard__image">
                          <a href="" class="newscard__img"><img width='473' height='312'  src="img/news1.png" alt="" ></a>                       
                        </div><!-- /.newscard__image -->
                        <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                        <div class="newscard__info">18.03.2022</div>
                      </div><!-- /.newscard -->
                    </div><!-- /.newslist__item -->
                    <div class="newslist__item">
                      <div class="newscard">
                        <div class="newscard__image">
                          <a href="" class="newscard__img"><img width='473' height='312'  src="img/news2.jfif" alt=""></a>                       
                        </div><!-- /.newscard__image -->
                        <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                        <div class="newscard__info">18.03.2022</div>
                      </div><!-- /.newscard -->
                    </div><!-- /.newslist__item -->
                    <div class="newslist__item">
                      <div class="newscard">
                        <div class="newscard__image">
                          <a href="" class="newscard__img"><img width='473' height='312'  src="img/news3.jfif" alt=""></a>                       
                        </div><!-- /.newscard__image -->
                        <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                        <div class="newscard__info">18.03.2022</div>
                      </div><!-- /.newscard -->
                    </div><!-- /.newslist__item -->
                  </div>
                </div>
              </div><!-- /.detailnewspage__related -->
            </div><!-- /.container -->
      </div><!-- /.wavebgblock -->
    </div>
  </div>
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>