<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="innerpage">
          <div class="breadcrumbs">
            <div class="container">
              <div class="breadcrumbs__items">
                <ul>
                  <li><a href="/"><span>SK Server</span></a></li>
                  <li><a href=""><span>Продукты</span></a></li>
                  <li><span>Серверы</span></li>
                </ul>
              </div>
              <!-- /.breadcrumbs__items -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.breadcrumbs -->


          <div class="contentpage">
       
            <div class="container">
              <div class="innerpage__header mb-50 xs-mb-20">
                <h1>Новости</h1>
              </div><!-- /.innerpage__header -->
            </div>
            <!-- /.container -->

          <div class="wavebgblock xs-pt-40">

            <div class="figure figure12">
              <img src="img/figure12.png" alt="">
            </div>
            <div class="container">
              <div class="newslist">
                <div class="newslist__items">
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news1.png" alt="" ></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news2.jfif" alt=""></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news3.jfif" alt=""></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news4.jfif" alt=""></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news5.jfif" alt=""></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news6.jfif" alt=""></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news7.jfif" alt=""></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news8.jfif" alt=""></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news9.jfif" alt=""></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news10.jfif" alt=""></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news11.jfif" alt=""></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                  <div class="newslist__item">
                    <div class="newscard">
                      <div class="newscard__image">
                        <a href="" class="newscard__img"><img width='473' height='312'  src="img/news12.jfif" alt=""></a>                       
                      </div><!-- /.newscard__image -->
                      <div class="newscard__title"><a href="">Окончание срока действия лицензий Windows Server 2019</a></div>
                      <div class="newscard__info">18.03.2022</div>
                    </div><!-- /.newscard -->
                  </div><!-- /.newslist__item -->
                </div><!-- /.newslist__items -->
              </div><!-- /.newslist -->        
            </div><!-- /.container -->
      </div><!-- /.wavebgblock -->
    </div>
  </div>
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>