<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="innerpage">
        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>SK Server</span></a></li>
                <li><a href=""><span>Продукты</span></a></li>
                <li><span>Серверы</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->
        

        <div class="contentpage">
       
          <div class="container">
            <div class="innerpage__header">
              <h1>Партнеры</h1>
            </div><!-- /.innerpage__header -->
          </div>
          <!-- /.container -->

          <div class="contactspage__tabs" data-tabs='partnerspage'>
            <div class="container">
              <div class="contactspage__header" data-headertabs='partnerspage'>
                <ul>
                  <li class='active'>
                    <img src="img/location_tab.svg" alt="">
                    <span>На карте</span>
                  </li>
                  <li class=''>
                    <img src="img/list_tab.svg" alt="">
                    <span>Списком</span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.contactspage__header -->
          <div class="contactspage__tabcontent active" data-contenttabs='partnerspage'>
            <div class="contactspage__map">
              <div class="pagemap">
                <div class="pagemap__map">
                  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab3e13a80bc604b0d037ac2315d68dd9df60529be9fdc57e78cb121355617fec1&amp;source=constructor" width="100%" height="737" frameborder="0"></iframe>
                </div>
                <!-- /.pagemap__map -->
              </div>
              <!-- /.pagemap -->
            
            </div>
            <!-- /.contactspage__map -->
          </div>
          <!-- /.contactspage__tabcontent -->
          <div class="contactspage__tabcontent " data-contenttabs='partnerspage'>
            <div class="container">
            <div class="contactspage__table">
              <div class="contactsitems__table">
                <div class="contactsitems__filter">
                  <form action="">
                    <div class="contactsitems__select">
                      <select name="METRO" id="metroSearch">
                        <option value="">Нижний Новгород</option>
                        <option value="">Нижний Новгород</option>
                        <option value="">Нижний Новгород</option>
                        <option value="">Нижний Новгород</option>
                        <option value="">Нижний Новгород</option>
                        <option value="">Нижний Новгород</option>
                        <option value="">Нижний Новгород</option>
                        <option value="">Нижний Новгород</option>
                        <option value="">Нижний Новгород</option>
                     
                      </select>
                    </div>
                    <div class="contactsitems__search">
                      <div class="searchinput">
                        <input type="text" placeholder="Быстрый поиск">
                        <button type="submit" class="btn_dark">Найти</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="contactsitemstable">
                  <div class="contactsitemstable__table">
                    <div class="contactstable">
                      <div class="contactstable__items">
                        <div class="contactstable__item">
                          <div class="contactstable__title">ООО СК СЕРВЕР сервис</div>
                          <div class="contactstable__info">Нижний Новгород</div>
                          <div class="contactstable__main flex items-center content-between">
                            <div class="contactstable__contacts flex items-center">
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="tel:+7 495 374 81 77" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">7 495 374 81 77</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">Москва, Ивана Франко, д. 46, стр. 4</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">с 9:00 до 18:00</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                            </div>
                            <div class="contactstable__button">
                              <a href="" class="btn_location">
                                <img src="img/location_on_FILL.svg" alt="">
                                <span>Как проехать?</span>
                              </a><!-- /.btn_location -->
                            </div>
                          </div><!-- /.contactstable__main flex items-center -->
                        </div><!-- /.contactstable__item -->

                        
                        <div class="contactstable__item">
                          <div class="contactstable__title">ООО СК СЕРВЕР сервис</div>
                          <div class="contactstable__info">Нижний Новгород</div>
                          <div class="contactstable__main flex items-center content-between">
                            <div class="contactstable__contacts flex items-center">
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="tel:+7 495 374 81 77" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">7 495 374 81 77</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">Москва, Ивана Франко, д. 46, стр. 4</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">с 9:00 до 18:00</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                            </div>
                            <div class="contactstable__button">
                              <a href="" class="btn_location">
                                <img src="img/location_on_FILL.svg" alt="">
                                <span>Как проехать?</span>
                              </a><!-- /.btn_location -->
                            </div>
                          </div><!-- /.contactstable__main flex items-center -->
                        </div><!-- /.contactstable__item -->
                        <div class="contactstable__item">
                          <div class="contactstable__title">ООО СК СЕРВЕР сервис</div>
                          <div class="contactstable__info">Нижний Новгород</div>
                          <div class="contactstable__main flex items-center content-between">
                            <div class="contactstable__contacts flex items-center">
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="tel:+7 495 374 81 77" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">7 495 374 81 77</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">Москва, Ивана Франко, д. 46, стр. 4</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">с 9:00 до 18:00</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                            </div>
                            <div class="contactstable__button">
                              <a href="" class="btn_location">
                                <img src="img/location_on_FILL.svg" alt="">
                                <span>Как проехать?</span>
                              </a><!-- /.btn_location -->
                            </div>
                          </div><!-- /.contactstable__main flex items-center -->
                        </div><!-- /.contactstable__item -->
                        <div class="contactstable__item">
                          <div class="contactstable__title">ООО СК СЕРВЕР сервис</div>
                          <div class="contactstable__info">Нижний Новгород</div>
                          <div class="contactstable__main flex items-center content-between">
                            <div class="contactstable__contacts flex items-center">
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="tel:+7 495 374 81 77" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">7 495 374 81 77</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">Москва, Ивана Франко, д. 46, стр. 4</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">с 9:00 до 18:00</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                            </div>
                            <div class="contactstable__button">
                              <a href="" class="btn_location">
                                <img src="img/location_on_FILL.svg" alt="">
                                <span>Как проехать?</span>
                              </a><!-- /.btn_location -->
                            </div>
                          </div><!-- /.contactstable__main flex items-center -->
                        </div><!-- /.contactstable__item -->
                        <div class="contactstable__item">
                          <div class="contactstable__title">ООО СК СЕРВЕР сервис</div>
                          <div class="contactstable__info">Нижний Новгород</div>
                          <div class="contactstable__main flex items-center content-between">
                            <div class="contactstable__contacts flex items-center">
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="tel:+7 495 374 81 77" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">7 495 374 81 77</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">Москва, Ивана Франко, д. 46, стр. 4</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">с 9:00 до 18:00</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                            </div>
                            <div class="contactstable__button">
                              <a href="" class="btn_location">
                                <img src="img/location_on_FILL.svg" alt="">
                                <span>Как проехать?</span>
                              </a><!-- /.btn_location -->
                            </div>
                          </div><!-- /.contactstable__main flex items-center -->
                        </div><!-- /.contactstable__item -->
                        <div class="contactstable__item">
                          <div class="contactstable__title">ООО СК СЕРВЕР сервис</div>
                          <div class="contactstable__info">Нижний Новгород</div>
                          <div class="contactstable__main flex items-center content-between">
                            <div class="contactstable__contacts flex items-center">
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="tel:+7 495 374 81 77" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">7 495 374 81 77</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">Москва, Ивана Франко, д. 46, стр. 4</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">с 9:00 до 18:00</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                            </div>
                            <div class="contactstable__button">
                              <a href="" class="btn_location">
                                <img src="img/location_on_FILL.svg" alt="">
                                <span>Как проехать?</span>
                              </a><!-- /.btn_location -->
                            </div>
                          </div><!-- /.contactstable__main flex items-center -->
                        </div><!-- /.contactstable__item -->
                        <div class="contactstable__item">
                          <div class="contactstable__title">ООО СК СЕРВЕР сервис</div>
                          <div class="contactstable__info">Нижний Новгород</div>
                          <div class="contactstable__main flex items-center content-between">
                            <div class="contactstable__contacts flex items-center">
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="tel:+7 495 374 81 77" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">7 495 374 81 77</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">Москва, Ивана Франко, д. 46, стр. 4</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                              <div class="contactstable__one">
                                <div class="phone">
                                  <a href="#" class="phonesk">
                                    <span class="phoneimg">
                                      <img src="img/phonesk.svg" alt="">
                                    </span>
                                    <span class="phonecontent">
                                      <span class="phonenumber">с 9:00 до 18:00</span>
                                    </span>
                                  </a>
                                </div>
                              </div><!-- /.contactstable__one -->
                            </div>
                            <div class="contactstable__button">
                              <a href="" class="btn_location">
                                <img src="img/location_on_FILL.svg" alt="">
                                <span>Как проехать?</span>
                              </a><!-- /.btn_location -->
                            </div>
                          </div><!-- /.contactstable__main flex items-center -->
                        </div><!-- /.contactstable__item -->


                      </div><!-- /.contactstable__items -->
                    </div><!-- /.contactstable -->
                  </div>
                </div>
              </div>
            </div>
            </div>
            <!-- /.contactspage__map -->
          </div>
          <!-- /.contactspage__tabcontent -->
        </div>

        </div>
        <!-- /.catalogpage -->


      </div><!-- /.innerpage -->    
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>