<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <style>

      </style>
      <main>
        <br><br><br><br><br>
        <div class="container innerpage ">
          <a href="#modal_callback" data-toggle='modal' class=" btn_main">заказать звонок</a>
          <a href="#modal_order" data-toggle='modal' class=" btn_main">оформление заказа</a>
          <a href="#modal_request" data-toggle='modal' class=" btn_main">заявка на оптовый прайс-лист</a>


          <span id="showsuccess" class="btn_main">Заявка принята (заказать звонок)</span>
          <span id="showsuccess2" class="btn_main">Заявка принята (оформление заказа)</span>
          <script>

            $('#showsuccess').on('click', function () {
              $('#modal_success').modal('show')
            })

            $('#showsuccess2').on('click', function () {
              $('#modal_success_order').modal('show')
            })

          </script>
          <br>
          <br>
        </div>
        <!-- /.container -->
      </main>




      <%= _.template(require('../includes/footer.html').default)(data) %>