<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> 
  <style>
    [data-toggle='modal'] {margin-bottom: 5px;}
  </style>
  <main>
    <br><br><br><br><br>
  <div class="container innerpage ">
    <a href="#modal_form" data-toggle='modal' class=" btn_main">форма партнера</a>
   
   
    <span id="showsuccess" class="btn_main">Заявка принята</span>
    <script>
      $('#showsuccess').on('click', function() {
        $('#modal_success').modal('show')
      })
    </script>
    <br>
    <br>
  </div>
  <!-- /.container -->
</main>

<div class="modal  fade modal_large" tabindex="-1" role="dialog" id="modal_form">
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="img/closebutton.svg" alt="" /></span>
        </button>
        <div class="modal__content ">
          <div class="modaltitle modaltitle_left">Регистрация партнера</div><!-- /.modaltitle -->
          <div class="modal__form">
              <div class="formblock">
                <form action="">

                <div class="formblock__row items-center">
                  <div class="formblock__input formblock__input_col2">
                    <label for="" class='formblock__label'>Нименование компании</label>
                    <input type="text" placeholder="">
                  </div>
                  <div class="formblock__input formblock__input_col2">
                    <label for="" class='formblock__label'>Серийный номер оборудования</label>
                    <input type="text" placeholder="">
                  </div>
                  <div class="formblock__input formblock__input_col2">
                    <label for="" class='formblock__label'>Город</label>
                    <input type="text" placeholder=""  >
                  </div>
                  <div class="formblock__input formblock__input_col2">
                    <label for="" class='formblock__label'>Контактное лицо</label>
                    <input type="text" placeholder="">
                  </div>
                  <div class="formblock__input formblock__input_col2">
                    <label for="" class='formblock__label'>Email</label>
                    <input type="email" >
                  </div>
                  <div class="formblock__input formblock__input_col2">
                    <label for="" class='formblock__label'>Телефон</label>
                    <input type="tel" placeholder="">
                  </div>
              
                  <div class="formblock__input formblock__input_col2">
                    <label for="" class='formblock__label'>Полный адрес</label>
                    <input type="text" placeholder="">
                  </div>
                  <div class="formblock__input formblock__input_col2">
                    <label for="" class='formblock__label'>Логотип если есть</label>
                    <div class="fileupload">
                      <input type="file" id="actual-btn" hidden="">
  
                      <label for="actual-btn" class='filelabel'>
                        <img src="img/Attach.svg" alt=""><span>Прикрепить файл</span>
                      </label>
                    </div>
                    <span id="file-chosen"></span>
                  </div>
                
                  <div class="formblock__input formblock__input_col2 formblock__input_check">
                    <div class="formblock__check">
                      <div class="check">
                        <input type="checkbox" id="agree" checked="checked" value="Y">
                        <label for="agree">Даю свое согласие на обработку <a href="">персональных данных</a> , соглашаюсь с <a href="">политикой конфиденциальности</a> 
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="formblock__input formblock__input_col2 formblock__input_submit">
                    <div class="formblock__submit flex">
                
                      <button type="submit" class="btn_main btn_large">Отправить</button>
                    </div>
                  </div>
                </div>
              </form>
                </div>

          
          </div><!-- /.modal__form -->
        </div><!-- /.modal__product -->
       
      </div>
    </div>
  </div>
</div>
<div class="modal  fade" tabindex="-1" role="dialog" id='modal_success'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/closebutton.svg" alt="">
          </span>
        </button>
        <div class="modal-body">
          <div class="modalicon">
            <div class="iconround">
              <img src="img/success.svg" alt="">
            </div><!-- /.iconround -->
          </div><!-- /.modalicon -->
          <div class="modaltitle">Заявка принята</div><!-- /.modaltitle -->
          <div class="modalcontent text">
            <p class="text-center">В скорем времени с вами свяжется наш менеджер для уточнения деталей заказа.</p>
          </div><!-- /.modalcontent -->
          <div class="modalbuttons modalbuttons_one">
            <a href="" class="btn_main btn_large">ОК</a><!-- /.btn_large -->
          </div><!-- /.modalbuttons -->
            
        </div>
      </div>
    </div>
  </div>
</div>


<%= _.template(require('../includes/footer.html').default)(data) %>