<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная</span></a></li>
                <li><a href="/"><span>Каталог продукции  </span></a></li>
                <li><a href="/"><span>Спойлеры на Volvo FH4 </span></a></li>
                <li><span>Межосевой спойлер на Volvo FH 4 (короткий бак)</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->

        <div class="pageheader">
          <div class="container">
            <div class="pageheader__back">
              <a href="#">
                <img src="img/keyboard_backspace_black_24dp.svg" alt=""><span>Назад</span>
              </a>
            </div><!-- /.pageheader__back -->
          </div><!-- /.container -->
        </div><!-- /.pageheader -->

        <div class="productdetail productpage">
          <div class="container">
            <div class="productdetail__wrapper">
              <div class="productdetail__cols">
                <div class="productdetail__left productdetail__image">
                  <div class="productdetail__gallery">
                    <div class="productpage__images detailslider">
                      <div class="detailslider__wrapper">
                        
                        <div class="swiper detailswiper">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <div class="zoom-box"><img src="img/volvo-trucks-buying-fh-largegrid.jpg" /></div>
                            </div>
                           
                            <div class="swiper-slide">
                              <div class="zoom-box"><img src="img/product1.png" /></div>
                            </div>
                            <div class="swiper-slide">
                              <div class="zoom-box"><img src="img/product1.png" /></div>
                            </div>
                            <div class="swiper-slide">
                              <div class="zoom-box"><img src="img/product1.png" /></div>
                            </div>
                          </div>
                        </div>
                        <div  class="swiper detailswiperpreview">
                          <div class="swiper-scrollbar"></div>
                          <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <img src="img/volvo-trucks-buying-fh-largegrid.jpg" />
                            </div>
                           
                            <div class="swiper-slide">
                              <img src="img/product1.png" />
                            </div>
                            <div class="swiper-slide">
                              <img src="img/product1.png" />
                            </div>
                            <div class="swiper-slide">
                              <img src="img/product1.png" />
                            </div>
                           
                          </div>
                        </div>
                      </div>
                      <div class="detailslider-pagination"></div>
                    </div>
                    <!-- /.productpage__images -->
                  </div><!-- /.productdetail__image -->
                </div><!-- /.productdetail__left productdetail__image -->
                <div class="productdetail__right productdetail__main">
                  <div class="productmain">
                    <div class="productmain__title"><h1>Межосевой спойлер на Volvo FH 4 (короткий бак)</h1></div><!-- /.productmain__title -->
                    <div class="productmain__params">
                      <div class="productparams">
                        <div class="productparams__title">Характеристики:</div><!-- /.productparams__title -->
                          <div class="productparams__params">
                            <div class="productparams__param">
                              <ul class="product-params">
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Длина </span></span>
                                  </span>
                                  <span class="product-params_right">1.2&nbsp;м </span>
                                </li>
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Ширина:</span></span>
                                  </span>
                                  <span class="product-params_right">1.2&nbsp;м </span>
                                </li>
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Ширина:</span></span>
                                  </span>
                                  <span class="product-params_right">1.2&nbsp;м </span>
                                </li>
                       
                                
                              </ul>
                            </div><!-- /.productparams__param -->
                            <div class="productparams__param">
                              <ul class="product-params">
                        
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Объем  :</span></span>
                                  </span>
                                  <span class="product-params_right">2.7&nbsp;м<sup>3</sup> </span>
                                </li>
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Вес:</span></span>
                                  </span>
                                  <span class="product-params_right">12&nbsp;кг</span>
                                </li>
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Материал:</span></span>
                                  </span>
                                  <span class="product-params_right">Стеклопластик армированный</span>
                                </li>
                               
                                
                              </ul>
                            </div><!-- /.productparams__param -->
                          </div><!-- /.productparams__params -->
                        
                      </div><!-- /.productparams -->
                    </div><!-- /.productmain__params -->

                    <div class="productmain__buyblock">
                      <div class="productbuy">
                        <div class="productbuy__wrapper">
                          <div class="productbuy__container">

                          <div class="productbuy__items">
                            <div class="productbuy__item">
                              <div class="productbuycard">
                                <div class="productbuycard__wrapper">
                                  <div class="productbuycard__title">Премиум</div><!-- /.productbuycard__title -->
                                  <div class="productbuycard__params">
                                    <div class="productbuycard__param">Качественная твердая упаковка</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Качественная твердая упаковка</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Другое</div><!-- /.productbuycard__param -->
                                  </div><!-- /.productbuycard__params -->
                                  <div class="productbuycard__select">
                                    <select name="" id="">
                                      <option value="">Комплект     </option>
                                      <option value="">Левая сторона </option>
                                      <option value="">Правая сторона</option>
                                    </select><!-- /# -->
                                  </div><!-- /.productbuycard__select -->
                                  <div class="productbuycard__option">
                                    <div class="productbuycard__check">
                                      <label for="check_11" class="radioinput formcheckbox formcheckbox_check">
                                        <input type="checkbox" id="check_11" name="payment" checked="">
                                        <span class="checkmark"></span>
                                        <div class="ordeform__inputcontent">
                                          <span class="orderform__name">Требуется покраска в цвет (+ 10 000 руб.)</span><!-- /.orderform__name -->
                                        </div><!-- /.ordeform__inputcontent -->
          
                                      </label>
                                    </div><!-- /.productbuycard__check -->
                                  </div><!-- /.productbuycard__option -->
                                  <div class="productbuycard__price">115 000 руб.</div><!-- /.productbuycard__price -->
                                  <div class="productbuycard__buttons"><a href="#modal_order" data-toggle='modal' class="btn_main">Заказать</a><!-- /.btn_main --></div><!-- /.productbuycard__buttons -->
                                </div><!-- /.productbuycard__wrapper -->
                              </div><!-- /.productbuycard -->
                            </div><!-- /.productbuy__item -->
                            <div class="productbuy__item">
                              <div class="productbuycard">
                                <div class="productbuycard__wrapper">
                                  <div class="productbuycard__title">Стандарт</div><!-- /.productbuycard__title -->
                                  <div class="productbuycard__params">
                                    <div class="productbuycard__param">Качественная твердая упаковка</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Качественная твердая упаковка</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Другое</div><!-- /.productbuycard__param -->
                                  </div><!-- /.productbuycard__params -->
                                  <div class="productbuycard__select">
                                    <select name="" id="">
                                      <option value="">Комплект     </option>
                                      <option value="">Левая сторона </option>
                                      <option value="">Правая сторона</option>
                                    </select><!-- /# -->
                                  </div><!-- /.productbuycard__select -->
                                  <div class="productbuycard__option">
                                    <div class="productbuycard__check">
                                      <label for="check_21" class="radioinput formcheckbox formcheckbox_check">
                                        <input type="checkbox" id="check_21" name="payment" checked="">
                                        <span class="checkmark"></span>
                                        <div class="ordeform__inputcontent">
                                          <span class="orderform__name">Требуется покраска в цвет (+ 10 000 руб.)</span><!-- /.orderform__name -->
                                        </div><!-- /.ordeform__inputcontent -->
          
                                      </label>
                                    </div><!-- /.productbuycard__check -->
                                  </div><!-- /.productbuycard__option -->
                                  <div class="productbuycard__price">115 000 руб.</div><!-- /.productbuycard__price -->
                                  <div class="productbuycard__buttons"><a href="#modal_order" data-toggle='modal' class="btn_main">Заказать</a><!-- /.btn_main --></div><!-- /.productbuycard__buttons -->
                                </div><!-- /.productbuycard__wrapper -->
                              </div><!-- /.productbuycard -->
                            </div><!-- /.productbuy__item -->
                            <div class="productbuy__item">
                              <div class="productbuycard">
                                <div class="productbuycard__wrapper">
                                  <div class="productbuycard__title">Экононм</div><!-- /.productbuycard__title -->
                                  <div class="productbuycard__params">
                                    <div class="productbuycard__param">Упаковка - гофролист</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Качественная твердая упаковка</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Другое</div><!-- /.productbuycard__param -->
                                  </div><!-- /.productbuycard__params -->
                                  <div class="productbuycard__select">
                                    <select name="" id="">
                                      <option value="">Комплект     </option>
                                      <option value="">Левая сторона </option>
                                      <option value="">Правая сторона</option>
                                    </select><!-- /# -->
                                  </div><!-- /.productbuycard__select -->
                                  <div class="productbuycard__option">
                                    <div class="productbuycard__check">
                                      <label for="check_31" class="radioinput formcheckbox formcheckbox_check">
                                        <input type="checkbox" id="check_31" name="payment" checked="">
                                        <span class="checkmark"></span>
                                        <div class="ordeform__inputcontent">
                                          <span class="orderform__name">Требуется покраска в цвет (+ 10 000 руб.)</span><!-- /.orderform__name -->
                                        </div><!-- /.ordeform__inputcontent -->
          
                                      </label>
                                    </div><!-- /.productbuycard__check -->
                                  </div><!-- /.productbuycard__option -->
                                  <div class="productbuycard__price">40 000 руб.</div><!-- /.productbuycard__price -->
                                  <div class="productbuycard__buttons"><a href="#modal_order" data-toggle='modal' class="btn_main">Заказать</a><!-- /.btn_main --></div><!-- /.productbuycard__buttons -->
                                </div><!-- /.productbuycard__wrapper -->
                              </div><!-- /.productbuycard -->
                            </div><!-- /.productbuy__item -->
                          </div><!-- /.productbuy__items -->
                          </div>
                        </div><!-- /.productbuy__wrapper -->
                        <div class="productbuy__link">
                          <a href="#modal_request" data-toggle="modal" class="imgtextlink">
                            <img src="img/pallet_33p9rm7egdgt.svg" alt=""><span>Хочу купить оптом</span>
                          </a><!-- /.imgtextlink -->
                        </div><!-- /.productbuy__link -->
                        </div>
                        
                      </div><!-- /.productbuy -->
                    </div><!-- /.productmain__buyblock -->
                  </div><!-- /.productmain -->
                </div><!-- /.productdetail__right productdetail__main -->
              </div><!-- /.productdetail__cols -->
            </div><!-- /.productdetail__wrapper -->
            <div class="productdetail__description">
              <div class="container">
                <div class="productdetail__content">
                  <div class="productcontent">
                    <div class="productcontent__cols">
                      <div class="productcontent__main">
                        <div class="description ">
                          <p>Межосевые спойлера в последнее время пользуются повышенным спросом среди тех, кто владеет информацией о том, насколько этот декоративный, по сути, элемент, способен улучшить определенные характеристики транспортного средства. В частности, с его помощью турбулентные воздушные потоки, сопровождающиеся завихрениями, трансформируются в прямые, что создает лучшею обтекаемость задней части тягача. В результате владельцу автомобиля удается еще и сэкономить, так как расход топлива при этом, будь то бензин или дизтопливо, также сокращается.

                          </p>
                          <p>  В качестве материала изготовления межосевых спойлеров компания применяет армированный стекло- и углепластик, аналогичное сырье применяется также для создания молдингов и некоторых других элементов. На таком материале производитель остановил свой выбор благодаря его повышенной прочности, вполне способной соперничать со сталями лучших марок, а потому используемой в том числе в машино-, ракето-, судо- и самолетостроении.</p>
                        </div><!-- /.description -->
                      </div><!-- /.productcontent__main -->
                      <div class="productcontent__aside">
                        <div class="docsblock__items flex">
                          <div class="docsblock__item">
                            <a href="" class="docsblock__link">
                              <div class="docsblock__wrapper">
                                <div class="docsblock__main">
                                  <div class="docsblock__icon"><img src="img/pdf-svgrepo-com.svg" alt=""></div>
                                  <!-- /.docsblock__icon -->
                                  <div class="docsblock__content">
                                    <div class="docsblock__title">Скачать инструкцию по установке спойлера</div>
                                    <!-- /.docsblock__title -->
                                    <div class="docsblock__info"> PDF, 1.8 мб</div><!-- /.docsblock__info -->
                                  </div><!-- /.docsblock__content -->
                                </div>
                              </div><!-- /.docsblock__wrapper -->
                            </a>
                          </div><!-- /.docsblock__item -->
                        </div>
                      </div><!-- /.productcontent__aside -->
                    </div><!-- /.productcontent__cols -->
                  </div><!-- /.productcontent -->
                </div><!-- /.productdetail__content -->
              </div><!-- /.container -->
            </div><!-- /.productdetail__description -->
          </div><!-- /.container -->
        </div><!-- /.productdetail -->
        </div>





      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>