<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="innerpage">
          <div class="pageheaderblock pageheaderblock_catalog">
            <div class="container">
              <div class="pageheaderblock__wrapper">
                <div class="pageheaderblock__content">
                  <div class="pageheaderblock__breadcrumbs">
                    <div class="breadcrumbs">
                      <div class="container">
                        <div class="breadcrumbs__items">
                          <ul>
                            <li><a href="/"><span>SK Server</span></a></li>
                            <li><a href=""><span>Продукты</span></a></li>
                            <li><span>Серверы</span></li>
                          </ul>
                        </div>
                        <!-- /.breadcrumbs__items -->
                      </div>
                      <!-- /.container -->
                    </div>
                    <!-- /.breadcrumbs -->
                  </div><!-- /.pageheaderblock__breadcrumbs -->
                  <div class="pageheaderblock__title">
                    <h1>Базовый элемент
                      цифровой
                      трансформации</h1>
                  </div><!-- /.pageheaderblock__title -->
                  
                </div><!-- /.pageheaderblock__content -->
                <div class="pageheaderblock__image">
                  <div class="pageheaderblock__img ">
                    <img src="img/product.png" alt="">
                  </div><!-- /.pageheaderblock__img -->
                 <!--  <div class="pageheaderblock__img onlyMobile">
                    <img src="img/service_detail_mobile.png" alt="">
                  </div> -->
                </div><!-- /.pageheaderblock__image -->
              </div><!-- /.pageheaderblock__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.pageheaderblock -->

          <div class="wavebgblock wavebgblock_catalog">

            <div class="figure figure12">
              <img src="img/figure12.png" alt="">
            </div>

         



              <div class="detailpage">
                <div class="container">

                <div class="detailpage__titletext">
                  SK Gelios R214I5 G5 6019P-MT

                </div><!-- /.contentblock__titletext -->

                <div class="detailpage__params flex items-center">
                  <div class="detailpage__param">
                    <div class="productparam">
                      <div class="productparam__icon">
                        <img src="img/Processor.svg" alt="">
                      </div><!-- /.productparam__icon -->
                      <div class="productparam__text">
                        <div class="productparam__caption">Процессор</div><!-- /.productparam__caption -->
                        <div class="productparam__value">Процессор Intel Xeon Scalable</div><!-- /.productparam__value -->
                      </div><!-- /.productparam__text -->
                    </div><!-- /.productparam -->
                  </div><!-- /.detailpage__param -->
                  <div class="detailpage__param">
                    <div class="productparam">
                      <div class="productparam__icon">
                        <img src="img/WebApps.svg" alt="">
                      </div><!-- /.productparam__icon -->
                      <div class="productparam__text">
                        <div class="productparam__caption">Операционная система </div><!-- /.productparam__caption -->
                        <div class="productparam__value">Astra Linux / Альт Линукс / Windows Server</div><!-- /.productparam__value -->
                      </div><!-- /.productparam__text -->
                    </div><!-- /.productparam -->
                  </div><!-- /.detailpage__param -->
                  <div class="detailpage__param">
                    <div class="productparam">
                      <div class="productparam__icon">
                        <img src="img/MemorySlot.svg" alt="">
                      </div><!-- /.productparam__icon -->
                      <div class="productparam__text">
                        <div class="productparam__caption">Оперативная память</div><!-- /.productparam__caption -->
                        <div class="productparam__value">До 1 Тбайт</div><!-- /.productparam__value -->
                      </div><!-- /.productparam__text -->
                    </div><!-- /.productparam -->
                  </div><!-- /.detailpage__param -->
                </div><!-- /.detailpage__params -->

                <div class="detailpage__mainblock">
                  <div class="detailmain">
                    <div class="detailmain__wrapper flex">
                      <div class="detailmain__imageblock">
                        <div class="detailslider">
                          <div class="detailslider__container">
                            <div class="detailslider__slider" data-slider='detail'>
                              <div class="detailslider__slide">
                                <div class="detailslider__image">
                                  <div class="detailslider__img"><img src="img/detail1.png" alt=""></div><!-- /.detailslider__img -->
                                </div><!-- /.detailslider__image -->
                              </div><!-- /.detailslider__slide -->
                              <div class="detailslider__slide">
                                <div class="detailslider__image">
                                  <div class="detailslider__img"><img src="img/detail1.png" alt=""></div><!-- /.detailslider__img -->
                                </div><!-- /.detailslider__image -->
                              </div><!-- /.detailslider__slide -->
                            </div><!-- /.detailslider__slider -->
                          </div><!-- /.detailslider__container -->
                        </div><!-- /.detailslider -->
                      </div><!-- /.detailmain__imageblock -->
                      <div class="detailmain__contentblock">
                        <div class="description">
                          <strong>Ваша инфраструктура будет в полной безопасности, при этом работоспособность и производительность будут неизменно высокими благодаря надежности и высокому быстродействию Гравитон С1101И.</strong>
                          <p>
                            Этот однопроцессорный стоечный сервер имеет форм-фактор 1U и 2U. Гравитон С1101И создан в соответствии с высокими стандартами качества, что обеспечивает гарантии непрерывной работы во время процессов расширения бизнеса или пограничного развертывания.</p>
                          <div class='borderblock'>
                              <div>
                                <strong>Для развития и расширения бизнеса важный гибкость и удобство управления, которые отличают решение Гравитон С1101И.</strong>
                                <p>Разнообразные конфигурации, предусмотренный видеоадаптер, накопители разных видов решают текущие рабочие задачи, при этом делают комфортным процесс масштабирования, даже с учетом перспектив дальнейшего расширения.</p>
                            </div>
                          </div>
                        </div><!-- /.description -->
                      </div><!-- /.detailmain__contentblock -->
                    </div><!-- /.detailmain__wrapper flex -->
                  </div><!-- /.detailmain -->
                </div><!-- /.detailpage__mainblock -->
                              
              
                <div class="fitcheblock fitcheblock_type2">
                
                  <div class="container">
                    <div class="fitchesblock__items">
                      <div class="fitchesblock__row">
                      <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.1s" data-wow-offset="0" data-wow-duration="1.5s">
                        <div class="fitchesblock__wrapper">
                          <div class="fitchesblock__header">
                            <div class="fitchesblock__icon">
                              <div class="fitchesblock__img"><img src="img/fitches_check.svg" alt=""></div>
                              <!-- /.fitchesblock__img -->
                            </div><!-- /.fitchesblock__icon -->
                          </div><!-- /.fitchesblock__header -->
                          <div class="fitchesblock__main">
                            <div class="fitchesblock__title">Удаленная установка ОС</div><!-- /.fitchesblock__title -->

                            <div class="fitchesblock__content">Поддерживается удаленная установка ОС, обновление прошивки BIOS и IPMI, создание собственных шаблонов ОС под конкретную конфигурацию;</div><!-- /.fitchesblock__content -->
                          </div><!-- /.fitchesblock__main -->
                        </div><!-- /.fitchesblock__wrapper -->
                      </div><!-- /.fitchesblock__item -->
                      <div class="fitchesblock__item slide-in-bottom wow" data-wow-delay="0.3s" data-wow-offset="0" data-wow-duration="1.5s">
                        <div class="fitchesblock__wrapper">
                          <div class="fitchesblock__header">
                            <div class="fitchesblock__icon">
                              <div class="fitchesblock__img"><img src="img/fitches_check.svg" alt=""></div>
                              <!-- /.fitchesblock__img -->
                            </div><!-- /.fitchesblock__icon -->
                          </div><!-- /.fitchesblock__header -->
                          <div class="fitchesblock__main">
                            <div class="fitchesblock__title">Анализ потоковых данных</div><!-- /.fitchesblock__title -->

                            <div class="fitchesblock__content">Позволяет анализировать потоковые данные с использованием протестированных и проверенных способов для работы с большим массивом данных;</div><!-- /.fitchesblock__content -->
                          </div><!-- /.fitchesblock__main -->
                        </div><!-- /.fitchesblock__wrapper -->
                      </div><!-- /.fitchesblock__item -->
                      <div class="fitchesblock__item  slide-in-bottom wow" data-wow-delay="0.5s" data-wow-offset="0" data-wow-duration="1.5s">
                        <div class="fitchesblock__wrapper">
                          <div class="fitchesblock__header">
                            <div class="fitchesblock__icon">
                              <div class="fitchesblock__img"><img src="img/fitches_check.svg" alt=""></div>
                              <!-- /.fitchesblock__img -->
                            </div><!-- /.fitchesblock__icon -->
                          </div><!-- /.fitchesblock__header -->
                          <div class="fitchesblock__main">
                            <div class="fitchesblock__title">Сделано в России</div><!-- /.fitchesblock__title -->

                            <div class="fitchesblock__content">Уникальные платформы серии С1ХХХ разрабатываются и производятся на территории Российской Федерации.</div><!-- /.fitchesblock__content -->
                          </div><!-- /.fitchesblock__main -->
                        </div><!-- /.fitchesblock__wrapper -->
                      </div><!-- /.fitchesblock__item -->
                      </div>
                    </div><!-- /.fitchesblock__items -->
                  </div><!-- /.container -->
                  </div>

                  <div class="pageheaderblock pageheaderblock_detail">
                    <div class="container">
                      <div class="pageheaderblock__wrapper">
                        <div class="pageheaderblock__content">
                          
                          <div class="pageheaderblock__title">
                            <h2>Расширенные возможности: наличие 4 сетевых портов</h2>
                          </div><!-- /.pageheaderblock__title -->
                          <div class="pageheaderblock__text text">
                            <div class=" text">
                            
                              <ul>
                                <li>Специальные разъемы SATA DOM с питанием позволят установить ОС на носители внутри сервера, предотвращая возможность извлечь системный диск.</li>
                              </ul>
                            </div>

                            <div class="pageheaderblock__button">
                              <a href="#" class=" btn_texticon">
                                <span class="btn__text">Где купить</span>
                                <span class="btn__icon"><img src="img/location.svg" alt=""></span>
          
                              </a>
                            </div><!-- /.pageheaderblock__button -->
                          
                          </div><!-- /.pageheaderblock__text -->
                        </div><!-- /.pageheaderblock__content -->
                        <div class="pageheaderblock__image">
                          <div class="pageheaderblock__img ">
                            <img src="img/product.png" alt="">
                          </div><!-- /.pageheaderblock__img -->
                         <!--  <div class="pageheaderblock__img onlyMobile">
                            <img src="img/service_detail_mobile.png" alt="">
                          </div> -->
                        </div><!-- /.pageheaderblock__image -->
                      </div><!-- /.pageheaderblock__wrapper -->
                    </div><!-- /.container -->
                  </div><!-- /.pageheaderblock -->
                </div>

                  <div class="detailpage__specs">
                    <div class="container">
                    <div class="detailspecs">
                      <div class="detailspecs__title">
                        <h2>Технические <br> характеристики</h2>
                      </div><!-- /.detailspecs__title -->
                      <div class="detailspecs__items">
                        <div class="detailspecs__item">
                          <div class="detailspecs__table">
                            <div class="detailspecs__row">
                              <div class="detailspecs__col detailspecs__col_caption">Процессор</div>
                              <div class="detailspecs__col detailspecs__col_value">
                                <ul>
                                  <li>Intel® Xeon® Scalable</li>
                                </ul>
                              </div>
                            </div><!-- /.detailspecs__row -->
                            <div class="detailspecs__row">
                              <div class="detailspecs__col detailspecs__col_caption">Оперативная память</div>
                              <div class="detailspecs__col detailspecs__col_value">
                                <ul>
                                  <li>До 1 Тбайт</li>
                                </ul>
                              </div>
                            </div><!-- /.detailspecs__row -->
                            <div class="detailspecs__row">
                              <div class="detailspecs__col detailspecs__col_caption">Операционная система</div>
                              <div class="detailspecs__col detailspecs__col_value">
                                <ul>
                                  <li>Alt 8 SP Server</li>
                                  <li>Alt Server 9.1</li>
                                  <li>VMware ESXi 6.7</li>
                                  <li>Windows Server® 2016 Standard</li>
                                  <li>Windows Server® 2019 Standard</li>
                                  <li>Ред OС Муром</li>
                                </ul>
                              </div>
                            </div><!-- /.detailspecs__row -->
                            <div class="detailspecs__row">
                              <div class="detailspecs__col detailspecs__col_caption">Поддерживаемые модули</div>
                              <div class="detailspecs__col detailspecs__col_value">
                                <ul>
                                  <li>LRDIMM: 128 ГБ, 64 ГБ, 32 ГБ</li>
                                  <li>RDIMM: 64 ГБ, 32 ГБ, 16 ГБ, 8 ГБ, 4 ГБ</li>
                                </ul>
                              </div>
                            </div><!-- /.detailspecs__row -->
                            <div class="detailspecs__row">
                              <div class="detailspecs__col detailspecs__col_caption">Рельсы для монтажа в стойку (опция)</div>
                              <div class="detailspecs__col detailspecs__col_value">
                                <ul>
                                  <li>Комплект безынструментальных регулируемых рельс 23,6″ - 33″</li>
                                  <li>Комплект безынструментальных регулируемых рельс 32,8″ - 36,9″</li>
                                  <li>Комплект регулируемых рельс 23,2″ - 39,3″</li>
                                </ul>
                              </div>
                            </div><!-- /.detailspecs__row -->

                           

                            <div class="texthidden" data-hidden="text">
                              <div class="detailspecs__row">
                                <div class="detailspecs__col detailspecs__col_caption">Рельсы для монтажа в стойку (опция)</div>
                                <div class="detailspecs__col detailspecs__col_value">
                                  <ul>
                                    <li>Комплект безынструментальных регулируемых рельс 23,6″ - 33″</li>
                                    <li>Комплект безынструментальных регулируемых рельс 32,8″ - 36,9″</li>
                                    <li>Комплект регулируемых рельс 23,2″ - 39,3″</li>
                                  </ul>
                                </div>
                              </div><!-- /.detailspecs__row -->
                              <div class="detailspecs__row">
                                <div class="detailspecs__col detailspecs__col_caption">Рельсы для монтажа в стойку (опция)</div>
                                <div class="detailspecs__col detailspecs__col_value">
                                  <ul>
                                    <li>Комплект безынструментальных регулируемых рельс 23,6″ - 33″</li>
                                    <li>Комплект безынструментальных регулируемых рельс 32,8″ - 36,9″</li>
                                    <li>Комплект регулируемых рельс 23,2″ - 39,3″</li>
                                  </ul>
                                </div>
                              </div><!-- /.detailspecs__row -->
                            </div>

                            <div class="showtext" data-wrapper="text">
                              <a href="#" class="btn_arrow" data-btnhidden="text">
                                <span>Развернуть</span>
                                <img src="img/arrow2down.svg" alt="">
                              </a>
                            </div>
                          </div><!-- /.detailspecs__table -->
                        </div><!-- /.detailspecs__item -->
                      </div><!-- /.detailspecs__items -->
                    </div><!-- /.detailspecs -->
                  </div><!-- /.container -->
                  </div><!-- /.detailpage__specs -->

                <div class="docsblock">
                  <div class="container">
                    <div class="pageheader">
                      <h2>Документация</h2>
                    </div><!-- /.pageheader -->
                   
                    <div class="docsblock__items flex">
                      <div class="docsblock__item">
                        <a href="" class="docsblock__link">
                          <div class="docsblock__wrapper">
                            <div class="docsblock__main">
                              <div class="docsblock__icon"><img src="img/doc.svg" alt=""></div><!-- /.docsblock__icon -->
                              <div class="docsblock__content">
                                <div class="docsblock__title">Техническое описание С1000И.pdf</div><!-- /.docsblock__title -->
                                <div class="docsblock__info">2.47 МБ</div><!-- /.docsblock__info -->
                              </div><!-- /.docsblock__content -->
                            </div>
                            <div class="docsblock__arrow">
                              <img src="img/ChevronRigth.svg" alt="">
                            </div><!-- /.docsblock__arrow -->
                          </div><!-- /.docsblock__wrapper -->
                        </a>
                      </div><!-- /.docsblock__item -->
                      <div class="docsblock__item">
                        <a href="" class="docsblock__link">
                          <div class="docsblock__wrapper">
                            <div class="docsblock__main">
                              <div class="docsblock__icon"><img src="img/doc.svg" alt=""></div><!-- /.docsblock__icon -->
                              <div class="docsblock__content">
                                <div class="docsblock__title">Техническое описание С1000И.pdf</div><!-- /.docsblock__title -->
                                <div class="docsblock__info">2.47 МБ</div><!-- /.docsblock__info -->
                              </div><!-- /.docsblock__content -->
                            </div>
                            <div class="docsblock__arrow">
                              <img src="img/ChevronRigth.svg" alt="">
                            </div><!-- /.docsblock__arrow -->
                          </div><!-- /.docsblock__wrapper -->
                        </a>
                      </div><!-- /.docsblock__item -->
                    </div><!-- /.docsblock__items -->
                  </div><!-- /.container -->
                </div><!-- /.docsblock -->

                <div class="logoblock logoblock_type2">
         
                  <div class="container">
                  
                    <div class="blockheader flex content-between">
                      <h2>Где купить</h2>
                      <div class="extlink onlyDesktop">
                      <a href="#" class="btn_border ">
                        <span>Все партнеры</span>
                      

                        
                        <img src="img/btn.svg" alt="">
                      </a>
                    </div><!-- /.extlink -->
                    </div><!-- /.blockheader -->
                    <div class="logoblock__items">
                      <div class="logoblock__item">
                        <div class="logoblock__wrapper">
                          <div class="logoblock__content">
                            <div class="logoblock__img">
                              <img src="img/partner1.png" alt="">
                            </div><!-- /.logoblock__img -->
                          </div><!-- /.logoblock__content -->
                        </div><!-- /.logoblock__wrapper -->
                      </div><!-- /.logoblock__item -->
                      <div class="logoblock__item">
                        <div class="logoblock__wrapper">
                          <div class="logoblock__content">
                            <div class="logoblock__img">
                              <img src="img/partner2.png" alt="">
                            </div><!-- /.logoblock__img -->
                          </div><!-- /.logoblock__content -->
                        </div><!-- /.logoblock__wrapper -->
                      </div><!-- /.logoblock__item -->
                      <div class="logoblock__item">
                        <div class="logoblock__wrapper">
                          <div class="logoblock__content">
                            <div class="logoblock__img">
                              <img src="img/partner19.png" alt="">
                            </div><!-- /.logoblock__img -->
                          </div><!-- /.logoblock__content -->
                        </div><!-- /.logoblock__wrapper -->
                      </div><!-- /.logoblock__item -->
                      <div class="logoblock__item">
                        <div class="logoblock__wrapper">
                          <div class="logoblock__content">
                            <div class="logoblock__img">
                              <img src="img/partner5.png" alt="">
                            </div><!-- /.logoblock__img -->
                          </div><!-- /.logoblock__content -->
                        </div><!-- /.logoblock__wrapper -->
                      </div><!-- /.logoblock__item -->
                      <div class="logoblock__item ">
                        <div class="logoblock__wrapper">
                          <div class="logoblock__content">
                            <div class="logoblock__img">
                              <img src="img/partner7.png" alt="">
                            </div><!-- /.logoblock__img -->
                          </div><!-- /.logoblock__content -->
                        </div><!-- /.logoblock__wrapper -->
                      </div><!-- /.logoblock__item -->
                     
                    </div><!-- /.logoblock__items -->

                    <div class="extlink onlyMobile">
                      <a href="#" class="btn_border ">
                        <span>Все партнеры</span>
                        <img src="img/btn.svg" alt="">
                      </a>
                    </div><!-- /.extlink -->
                   
                  </div>
                </div>
        
       
          </div>



      </div><!-- /.innerpage -->    
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>