<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная</span></a></li>
                <li><a href="/"><span>Каталог продукции  </span></a></li>
                <li><a href="/"><span>Спойлеры на Volvo FH4 </span></a></li>
                <li><span>Межосевой спойлер на Volvo FH 4 (короткий бак)</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->

        <div class="pageheader">
          <div class="container">
            <div class="pageheader__back">
              <a href="#">
                <img src="img/keyboard_backspace_black_24dp.svg" alt=""><span>Назад</span>
              </a>
            </div><!-- /.pageheader__back -->
          </div><!-- /.container -->
        </div><!-- /.pageheader -->

        <div class="productdetail productpage">
          <div class="container">
            <div class="productdetail__wrapper">
              <div class="productdetail__cols">
                <div class="productdetail__left productdetail__image">
                  <div class="productdetail__gallery">
                    <div class="productpage__images detailslider">
                      <div class="detailslider__wrapper">
                        
                        <div class="swiper detailswiper">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <div class="zoom-box"><img src="img/volvo-trucks-buying-fh-largegrid.jpg" /></div>
                            </div>
                           
                            <div class="swiper-slide">
                              <div class="zoom-box"><img src="img/product1.png" /></div>
                            </div>
                            <div class="swiper-slide">
                              <div class="zoom-box"><img src="img/product1.png" /></div>
                            </div>
                            <div class="swiper-slide">
                              <div class="zoom-box"><img src="img/product1.png" /></div>
                            </div>
                          </div>
                        </div>
                        <div  class="swiper detailswiperpreview">
                          <div class="swiper-scrollbar"></div>
                          <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <img src="img/volvo-trucks-buying-fh-largegrid.jpg" />
                            </div>
                           
                            <div class="swiper-slide">
                              <img src="img/product1.png" />
                            </div>
                            <div class="swiper-slide">
                              <img src="img/product1.png" />
                            </div>
                            <div class="swiper-slide">
                              <img src="img/product1.png" />
                            </div>
                           
                          </div>
                        </div>
                      </div>
                      <div class="detailslider-pagination"></div>
                    </div>
                    <!-- /.productpage__images -->
                  </div><!-- /.productdetail__image -->
                  <div class="productdetail__description">
                    <div class="container">
                         <div class="description ">
                                <p>Межосевые спойлера в последнее время пользуются повышенным спросом среди тех, кто владеет информацией о том, насколько этот декоративный, по сути, элемент, способен улучшить определенные характеристики транспортного средства. В частности, с его помощью турбулентные воздушные потоки, сопровождающиеся завихрениями, трансформируются в прямые, что создает лучшею обтекаемость задней части тягача. В результате владельцу автомобиля удается еще и сэкономить, так как расход топлива при этом, будь то бензин или дизтопливо, также сокращается.
      
                                </p>
                                <p>  В качестве материала изготовления межосевых спойлеров компания применяет армированный стекло- и углепластик, аналогичное сырье применяется также для создания молдингов и некоторых других элементов. На таком материале производитель остановил свой выбор благодаря его повышенной прочности, вполне способной соперничать со сталями лучших марок, а потому используемой в том числе в машино-, ракето-, судо- и самолетостроении.</p>
                              </div><!-- /.description -->
                       
                    </div><!-- /.container -->
                  </div><!-- /.productdetail__description -->
                </div><!-- /.productdetail__left productdetail__image -->
                <div class="productdetail__right productdetail__main">
                  <div class="productmain">
                    <div class="productmain__title"><h1>Межосевой спойлер на Volvo FH 4 (короткий бак)</h1></div><!-- /.productmain__title -->
                    <div class="productmain__params">
                      <div class="productparams">
                        <div class="productparams__title">Характеристики:</div><!-- /.productparams__title -->
                          <div class="productparams__params">
                            <div class="productparams__param">
                              <ul class="product-params">
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Длина </span></span>
                                  </span>
                                  <span class="product-params_right">1.2&nbsp;м </span>
                                </li>
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Ширина:</span></span>
                                  </span>
                                  <span class="product-params_right">1.2&nbsp;м </span>
                                </li>
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Ширина:</span></span>
                                  </span>
                                  <span class="product-params_right">1.2&nbsp;м </span>
                                </li>
                       
                                
                              </ul>
                            </div><!-- /.productparams__param -->
                            <div class="productparams__param">
                              <ul class="product-params">
                        
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Объем  :</span></span>
                                  </span>
                                  <span class="product-params_right">2.7&nbsp;м<sup>3</sup> </span>
                                </li>
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Вес:</span></span>
                                  </span>
                                  <span class="product-params_right">12&nbsp;кг</span>
                                </li>
                                <li>
                                  <span class="product-params_left">
                                    <span><span>Материал:</span></span>
                                  </span>
                                  <span class="product-params_right">Стеклопластик армированный</span>
                                </li>
                               
                                
                              </ul>
                            </div><!-- /.productparams__param -->
                          </div><!-- /.productparams__params -->
                        
                      </div><!-- /.productparams -->
                    </div><!-- /.productmain__params -->

                    <div class="productmain__buyblock">
                      <form action="">
                      <div class="productbuy productbuy_type2 ">
                        <div class="productbuy__wrapper">
                          <div class="productbuy__container">
                            <div class="productbuy__itemsblock">

                          <div class="productbuy__items productbuy__items_2">
                            <div class="productbuy__item" data-calc="wrapper">
                              <div class="productbuycard">
                                <div class="productbuycard__wrapper">
                                  <div class="productbuycard__title">Эконом</div><!-- /.productbuycard__title -->
                                  <div class="productbuycard__params">
                                    <div class="productbuycard__param productbuycard__param_empty">&mdash;</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Крепления под ленту бака</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param productbuycard__param_empty">&mdash;</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Оцинкованный крепеж  (8х8)</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Упаковка - коробка</div><!-- /.productbuycard__param -->
                                  </div><!-- /.productbuycard__params -->
                                  <div class="productbuycard__prices">
                                    <div class="productbuycard__caption">Цена за комплект</div><!-- /.productbuycard__caption -->
                                    <div class="productbuycard__pricevalue" data-select="var1" data-calcvalue="40000">40 000 руб</div><!-- /.productbuycard__pricevalue -->
                                  </div><!-- /.productbuycard__prices -->


                                  <div class="productbuycard__select">
                                    <select name="" id="" data-calc="select">
                                      <option value="" data-calc="0">Выбрать     </option>
                                      <option value="" data-calc="40000">Левая сторона </option>
                                      <option value="" data-calc="40000">Правая сторона</option>
                                    </select><!-- /# -->
                                  </div><!-- /.productbuycard__select -->
                                 
                                </div><!-- /.productbuycard__wrapper -->
                              </div><!-- /.productbuycard -->
                            </div><!-- /.productbuy__item -->
                            <div class="productbuy__item" data-calc="wrapper">
                              <div class="productbuycard">
                                <div class="productbuycard__wrapper">
                                  <div class="productbuycard__title">Стандарт</div><!-- /.productbuycard__title -->
                                  <div class="productbuycard__params">
                                    <div class="productbuycard__param">Антикоррозийная обработка профилей (усилителей)</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Крепления под ленту бака</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Качественная окраска в т.ч. аллюминиевых деталей крепления</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Усиленный оцинкованный крепеж (8х8)</div><!-- /.productbuycard__param -->
                                    <div class="productbuycard__param">Упаковка - коробка</div><!-- /.productbuycard__param -->
                                  </div><!-- /.productbuycard__params -->

                                  <div class="productbuycard__prices">
                                    <div class="productbuycard__caption">Цена за комплект</div><!-- /.productbuycard__caption -->
                                    <div class="productbuycard__pricevalue" data-select="var2" data-calcvalue="80000">80 000 руб</div><!-- /.productbuycard__pricevalue -->
                                  </div><!-- /.productbuycard__prices -->
                                  <div class="productbuycard__select">
                                    <select name="" id="" data-calc="select">
                                      <option value="" data-calc="0">Выбрать     </option>
                                      <option value="" data-calc="80000">Левая сторона </option>
                                      <option value="" data-calc="80000">Правая сторона</option>
                                    </select><!-- /# -->
                                  </div><!-- /.productbuycard__select -->
                                 
                                </div><!-- /.productbuycard__wrapper -->
                              </div><!-- /.productbuycard -->
                            </div><!-- /.productbuy__item -->
                            
                          </div><!-- /.productbuy__items -->
</div>

                          <div class="productbuycard__option">
                            <div class="productbuycard__optiontitle">
                              Дополнительные опции
                            </div><!-- /.productbuycard__optiontitle -->
                            <div class="productbuycard__check">
                              <label for="check_11" class="radioinput formcheckbox formcheckbox_check">
                                <input type="checkbox" id="check_11" name="options" data-input="100" data-id='painting'>
                                <span class="checkmark"></span>
                                <div class="ordeform__inputcontent">
                                  <span class="orderform__name">Окраска изделий

                                    <span class="tp" data-tooltip='tooltip'>
                                      <img src="img/tp.png" alt="" class='tpbutton'>
                                      <div class="tp-tooltip">
                                        <span class='tpclose'>
                                          <img src="img/tpclose.png" alt="">
                                        </span>
                                        Вы можете заказать у нас спойлер с не стандартными габаритными 
                                      </div><!-- /.tp-tooltip -->
                                    </span><!-- /.tp -->

                                    <div class="productbuycard__select" data-calc='painting'>
                                      <select name="" id="" >
                                        <option value="" >Выберите цвет     </option>
                                        <option value="" >Белый</option>
                                        <option value="" >Черный</option>
                                      </select><!-- /# -->
                                    </div><!-- /.productbuycard__select -->
                                   
                                    
                                    </span><!-- /.orderform__name -->
                                </div><!-- /.ordeform__inputcontent -->
  
                              </label>
                            </div><!-- /.productbuycard__check -->
                            <div class="productbuycard__check">
                              <label for="check_21" class="radioinput formcheckbox formcheckbox_check">
                                <input type="checkbox" id="check_21" name="options" data-input="200">
                                <span class="checkmark"></span>
                                <div class="ordeform__inputcontent">
                                  <span class="orderform__name">Усилитель из нержавеющей стали

                                    <span class="tp" data-tooltip='tooltip'>
                                      <img src="img/tp.png" alt="" class='tpbutton'>
                                      <div class="tp-tooltip">
                                        <span class='tpclose'>
                                          <img src="img/tpclose.png" alt="">
                                        </span>
                                        Вы можете заказать у нас спойлер с не стандартными габаритными 
                                      </div><!-- /.tp-tooltip -->
                                    </span><!-- /.tp -->
                                    
                                    </span><!-- /.orderform__name -->
                                </div><!-- /.ordeform__inputcontent -->
  
                              </label>
                            </div><!-- /.productbuycard__check -->
                            <div class="productbuycard__check">
                              <label for="check_31" class="radioinput formcheckbox formcheckbox_check">
                                <input type="checkbox" id="check_31" name="options" data-input="300">
                                <span class="checkmark"></span>
                                <div class="ordeform__inputcontent">
                                  <span class="orderform__name">Аллюминиевые подножки

                                    <span class="tp" data-tooltip='tooltip'>
                                      <img src="img/tp.png" alt="" class='tpbutton'>
                                      <div class="tp-tooltip">
                                        <span class='tpclose'>
                                          <img src="img/tpclose.png" alt="">
                                        </span>
                                        Вы можете заказать у нас спойлер с не стандартными габаритными 
                                      </div><!-- /.tp-tooltip -->
                                    </span><!-- /.tp -->
                                    
                                    </span><!-- /.orderform__name -->
                                </div><!-- /.ordeform__inputcontent -->
  
                              </label>
                            </div><!-- /.productbuycard__check -->
                            <div class="productbuycard__check">
                              <label for="check_41" class="radioinput formcheckbox formcheckbox_check">
                                <input type="checkbox" id="check_41" name="options" data-input="400">
                                <span class="checkmark"></span>
                                <div class="ordeform__inputcontent">
                                  <span class="orderform__name">Антидождь

                                    <span class="tp" data-tooltip='tooltip'>
                                      <img src="img/tp.png" alt="" class='tpbutton'>
                                      <div class="tp-tooltip">
                                        <span class='tpclose'>
                                          <img src="img/tpclose.png" alt="">
                                        </span>
                                        Вы можете заказать у нас спойлер с не стандартными габаритными 
                                      </div><!-- /.tp-tooltip -->
                                    </span><!-- /.tp -->
                                    
                                    </span><!-- /.orderform__name -->
                                </div><!-- /.ordeform__inputcontent -->
  
                              </label>
                            </div><!-- /.productbuycard__check -->
                            <div class="productbuycard__check">
                              <label for="check_51" class="radioinput formcheckbox formcheckbox_check">
                                <input type="checkbox" id="check_51" name="options" data-input="500">
                                <span class="checkmark"></span>
                                <div class="ordeform__inputcontent">
                                  <span class="orderform__name">Нестандартный размер

                                    <span class="tp" data-tooltip='tooltip'>
                                      <img src="img/tp.png" alt="" class='tpbutton'>
                                      <div class="tp-tooltip">
                                        <span class='tpclose'>
                                          <img src="img/tpclose.png" alt="">
                                        </span>
                                        Вы можете заказать у нас спойлер с не стандартными габаритными 
                                      </div><!-- /.tp-tooltip -->
                                    </span><!-- /.tp -->
                                    
                                    </span><!-- /.orderform__name -->
                                </div><!-- /.ordeform__inputcontent -->
  
                              </label>
                            </div><!-- /.productbuycard__check -->
                          </div><!-- /.productbuycard__option -->

                          <div class="productbuycard__result">
                            <div class="productbuycard__total">ИТОГО:&nbsp;</div><!-- /.productbuycard__total -->
                            <div class="productbuycard__value">
                              <span data-calc='result'>0</span>
                              <span>&nbsp;руб.</span>

                              <input type="hidden" name='total' data-calc="inputresult">
                            </div><!-- /.productbuycard__value -->
                          </div><!-- /.productbuycard__result -->
                          <div class="productbuycard__buttons">

                           <!--  <button type="submit" class="btn_main">Заказать</button> -->
                            
                            <a href="#modal_order" data-toggle='modal' class="btn_main">Заказать</a>

                            <div class="productbuy__link">
                              <a href="#modal_request" data-toggle="modal" class="imgtextlink">
                                <img src="img/pallet_33p9rm7egdgt.svg" alt=""><span>Хочу купить оптом</span>
                              </a><!-- /.imgtextlink -->
                            </div><!-- /.productbuy__link -->
                          
                          </div><!-- /.productbuycard__buttons -->
                          </div>
                        </div><!-- /.productbuy__wrapper -->
                        
                        </div>
                      </form>
                      </div><!-- /.productbuy -->
                    </div><!-- /.productmain__buyblock -->
                  </div><!-- /.productmain -->
                </div><!-- /.productdetail__right productdetail__main -->
              </div><!-- /.productdetail__cols -->
            </div><!-- /.productdetail__wrapper -->
           
          </div><!-- /.container -->
        </div><!-- /.productdetail -->

     

        <div class="pagegallery">
          <div class="container">
            <h3>Полезно знать</h3>
            <div class="pagegallery__main">
              <div class="pagegallery__items">
                <div class="pagegallery__item">
                  <div class="pagegallery__content">
                    <div class="blogcard">
                      <div class="blogcard__wrapper">
                        <a href="#" class="blogcard__link">
                          <div class="blogcard__image">
                            <div class="blogcard__mask">
  
                            </div>
                            <img src="img/gallery1.png" alt="" width='457' height='285'>
                          </div><!-- /.blogcard__image -->
                          <div class="blogcard__content">
                            <div class="blogcard__title">
                              <span>Как узнать заводской номер цвета своего Volvo FH?</span><img src="img/arright.png" alt="">
                            </div><!-- /.blogcard__title -->
                          </div><!-- /.blogcard__content -->
                        </a><!-- /.blogcard__link -->
                      </div><!-- /.blogcard__wrapper -->
                    </div>
                  </div><!-- /.pagegallery__content -->
                </div><!-- /.pagegallery__item -->
                <div class="pagegallery__item">
                  <div class="pagegallery__content">
                    <div class="blogcard">
                      <div class="blogcard__wrapper">
                        <a href="#" class="blogcard__link">
                          <div class="blogcard__image">
                            <div class="blogcard__mask">
  
                            </div>
                            <img src="img/gallery1.png" alt="" width='457' height='285'>
                          </div><!-- /.blogcard__image -->
                          <div class="blogcard__content">
                            <div class="blogcard__title">
                              <span>Как узнать заводской номер цвета своего Volvo FH?</span><img src="img/arright.png" alt="">
                            </div><!-- /.blogcard__title -->
                          </div><!-- /.blogcard__content -->
                        </a><!-- /.blogcard__link -->
                      </div><!-- /.blogcard__wrapper -->
                    </div>
                  </div><!-- /.pagegallery__content -->
                </div><!-- /.pagegallery__item -->
                <div class="pagegallery__item">
                  <div class="pagegallery__content">
                    <div class="blogcard">
                      <div class="blogcard__wrapper">
                        <a href="#" class="blogcard__link">
                          <div class="blogcard__image">
                            <div class="blogcard__mask">
  
                            </div>
                            <img src="img/gallery1.png" alt="" width='457' height='285'>
                          </div><!-- /.blogcard__image -->
                          <div class="blogcard__content">
                            <div class="blogcard__title">
                              <span>Как узнать заводской номер цвета своего Volvo FH?</span><img src="img/arright.png" alt="">
                            </div><!-- /.blogcard__title -->
                          </div><!-- /.blogcard__content -->
                        </a><!-- /.blogcard__link -->
                      </div><!-- /.blogcard__wrapper -->
                    </div>
                  </div><!-- /.pagegallery__content -->
                </div><!-- /.pagegallery__item -->
              </div><!-- /.pagegallery__items -->
            </div><!-- /.pagegallery__main -->
          </div><!-- /.container -->
        </div><!-- /.pagegallery -->




      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>