<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="innerpage">
          <div class="pageheaderblock">
            <div class="container">
              <div class="pageheaderblock__wrapper">
                <div class="pageheaderblock__content">
                  <div class="pageheaderblock__breadcrumbs">
                    <div class="breadcrumbs">
                      <div class="container">
                        <div class="breadcrumbs__items">
                          <ul>
                            <li><a href="/"><span>SK Server</span></a></li>
                            <li><a href=""><span>Продукты</span></a></li>
                            <li><span>Серверы</span></li>
                          </ul>
                        </div>
                        <!-- /.breadcrumbs__items -->
                      </div>
                      <!-- /.container -->
                    </div>
                    <!-- /.breadcrumbs -->
                  </div><!-- /.pageheaderblock__breadcrumbs -->
                  <div class="pageheaderblock__title">
                    <h1>Сервисный центр</h1>
                  </div><!-- /.pageheaderblock__title -->
                  <div class="pageheaderblock__text">
                    <div class="description">
                      <p>Если вы хотите сообщить о возможной контрафактной или поддельной продукции либо о других видах предполагаемого нарушения прав на интеллектуальную собственность Гравитон, сообщите о контрафактных продуктах или подделках.</p>
                    </div><!-- /.description -->
                  </div><!-- /.pageheaderblock__text -->
                </div><!-- /.pageheaderblock__content -->
                <div class="pageheaderblock__image">
                  <div class="pageheaderblock__img ">
                    <img src="img/service_detail2.png" alt="">
                  </div><!-- /.pageheaderblock__img -->
                 <!--  <div class="pageheaderblock__img onlyMobile">
                    <img src="img/service_detail_mobile.png" alt="">
                  </div> -->
                </div><!-- /.pageheaderblock__image -->
              </div><!-- /.pageheaderblock__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.pageheaderblock -->

          <div class="wavebgblock">

            <div class="figure figure12">
              <img src="img/figure12.png" alt="">
            </div>

         



            <div class="container">
              <div class="contentblock">

                <div class="contentblock__titletext contentblock__titletext_big">
                  Требуется обслуживание или техническая поддержка?

                </div><!-- /.contentblock__titletext -->
                <div class=" text">
                  <p>Заполните заявку онлайн, и мы вам поможем.</p>
                </div>
              
              </div><!-- /.contentblock -->
              
                <div class="formblock">
                
                  <div class="formblock__wrapper flex content-between">
                    <div class="formblock__form flex-1">
                      <form action="">
                  <div class="formblock__row items-center">
                    <div class="formblock__input formblock__input_col2">
                      <label for="" class='formblock__label'>Email</label>
                      <input type="email" placeholder="E-mail" value='xolxllz@gmail.com'>
                    </div>
                    <div class="formblock__input formblock__input_col2">
                      <label for="" class='formblock__label'>Серийный номер оборудования</label>
                      <input type="text" placeholder="Серийный номер оборудования" class='input-error' value='123'>
                      <span class="input-errortext">Некорректный формат электронного письма</span>
                    </div>
                    <div class="formblock__input formblock__input_col2">
                      <label for="" class='formblock__label'>ФИО</label>
                      <input type="text" placeholder=""  >
                    </div>
                    <div class="formblock__input formblock__input_col2">
                      <label for="" class='formblock__label'>Телефон</label>
                      <input type="tel" placeholder="">
                    </div>
                    <div class="formblock__input ">
                      <label for="" class='formblock__label'>ФИО</label>
                      <textarea name="" id=""rows="1"></textarea><!-- /# -->
                    </div>
                    <div class="formblock__input formblock__input_col2 formblock__input_check">
                      <div class="formblock__check">
                        <div class="check">
                          <input type="checkbox" id="agree" checked="checked" value="Y">
                          <label for="agree">Я согласен на обработку <a href="">персональных данных</a> 
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="formblock__input formblock__input_col2">
                      <div class="formblock__submit flex">
                  
                        <button type="submit" class="btn_main btn_large">Отправить</button>
                      </div>
                    </div>
                  </div><!-- /.formblock__row -->
                </form>
                </div><!-- /.formblock__form -->
                <div class="formblock__aside flex-1">
                  <div class="forminfo">
                    <div class="forminfo__content">
                      <div class="forminfo__title">Другие способы получить помощь</div>
                      <div class="forminfo__tel">
                        <a href="tel:+7 495 374 81 77">+7 495 374 81 77</a>
                      </div>
                      <div class="forminfo__email"><a href="mailto:tech@skserver.ru">tech@skserver.ru</a></div>
                    </div><!-- /.forminfo__content -->
                  </div><!-- /.forminfo -->
                </div><!-- /.formblock__aside -->
              </div><!-- /.formblock__wrapper flex -->
                  
                </div>


        
          </div><!-- /.container -->
          </div><!-- /.wavebgblock -->



      </div><!-- /.innerpage -->    
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>