<% var data = {
  title: "MAIN",
  author: ""
  }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<style>
  li {
    margin-bottom: 15px;
    list-style: none;
    display: inline-block;
  }

  main {
    padding-top: 200px;
  }
</style>
<main>
    <div class="container">
     <ul>
    
      <li><a href="index.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Главная</a></li>
      <li><a href="catalog.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Каталог </a></li>
      <li><a href="blog.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Блог</a></li>
      <li><a href="docs.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Документы</a></li>
      <li><a href="unslugi.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Услуги</a></li>     
      <li><a href="unslugi__detail.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Карточка услуги</a></li>
      <li><a href="support.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Вопрос-ответ</a></li>
      <li><a href="about.html" target="_blank" rel="noopener noreferrer" class='btn_main'>о компании</a></li>
      <li><a href="contacts.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Контакты</a></li>
      <li><a href="popup.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Модальные окна</a></li>
      <li><a href="404.html" target="_blank" rel="noopener noreferrer" class='btn_main'>404</a></li>
      <li><a href="volvo.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Вольво</a></li>
      <li><a href="mercedes.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Мерседес</a></li>
<br><br>

<li><a href="product1.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Карточка 1</a></li>
<li><a href="product2.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Карточка 2</a></li>
<li><a href="product3.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Карточка 3</a></li>

      
   
     
     </ul>
    </div><!-- /.container -->
</main>

<%= _.template(require('../includes/footer.html').default)(data) %>