<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="innerpage">
          <div class="pageheaderblock">
            <div class="container">
              <div class="pageheaderblock__wrapper">
                <div class="pageheaderblock__content">
                  <div class="pageheaderblock__breadcrumbs">
                    <div class="breadcrumbs">
                      <div class="container">
                        <div class="breadcrumbs__items">
                          <ul>
                            <li><a href="/"><span>SK Server</span></a></li>
                            <li><a href=""><span>Продукты</span></a></li>
                            <li><span>Серверы</span></li>
                          </ul>
                        </div>
                        <!-- /.breadcrumbs__items -->
                      </div>
                      <!-- /.container -->
                    </div>
                    <!-- /.breadcrumbs -->
                  </div><!-- /.pageheaderblock__breadcrumbs -->
                  <div class="pageheaderblock__title">
                    <h1>Гарантийные обязательства</h1>
                  </div><!-- /.pageheaderblock__title -->
                  <div class="pageheaderblock__text">
                    <div class="description">
                      <p>Компания SK Server Technologies предоставляет срок гарантийного обслуживания серверов, СХД и рабочих станций торговой марки SK Gelios на 3 года с даты продажи. Гарантия распространяется на все компоненты сервера, СХД и рабочей станции, включая вентиляторы охлаждения, накопители и т.д. При возникновении неисправности в течение гарантийного срока необходимо обратиться в сервисный центр компании.</p>
                    </div><!-- /.description -->
                  </div><!-- /.pageheaderblock__text -->
                </div><!-- /.pageheaderblock__content -->
                <div class="pageheaderblock__image">
                  <div class="pageheaderblock__img ">
                    <img src="img/support_detail.png" alt="">
                  </div><!-- /.pageheaderblock__img -->
                 <!--  <div class="pageheaderblock__img onlyMobile">
                    <img src="img/service_detail_mobile.png" alt="">
                  </div> -->
                </div><!-- /.pageheaderblock__image -->
              </div><!-- /.pageheaderblock__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.pageheaderblock -->

          <div class="wavebgblock">

            <div class="figure figure12">
              <img src="img/figure12.png" alt="">
            </div>

         



            <div class="container">
            <div class="contentblock" >
              <div class=" text">
                <ul>
                  <li>Компания SK Server Technologies обязуется производить гарантийный ремонт поставляемой техники при условии соблюдения заказчиком правил эксплуатации.</li>
                  <li>В течение 1-го года гарантийного обслуживания - выезд инженера сервисной службы для выполнения гарантийных работ по диагностике и ремонту вышедшего из строя оборудования осуществляется либо в день обращения, либо на следующий рабочий день.* Если выполнения гарантийных работ по диагностике и ремонту оборудования будет невозможно на месте эксплуатации, компания SK Server Technologies транспортирует оборудование в сервисный центр для полной диагностики и ремонта.</li>
                  <li>В течение 2-го и 3-го года - гарантийное обслуживание выполняется в сервисном центре компании SK Server Technologies.</li>
                  <li>Продолжительность гарантийного ремонта не должна превышать 40 рабочих дней. Гарантийный срок продлевается на время нахождения Оборудования в ремонте.</li>
                  <li>В случае проявления у приобретенного оборудования существенного недостатка (т.е. недостатка, который не может быть устранен) производится замена неисправного изделия на аналогичное исправное изделие (при обязательном наличии заключения сервисного центра о существенности недостатка изделия).</li>
                  <li>В ремонте поставляемого оборудования может быть отказано:</li>
                </ul>
              </div>
         
              
              <div class="texthidden" data-hidden='text'>
                <div class=" text">
                  <ul>
                    <li>Компания SK Server Technologies обязуется производить гарантийный ремонт поставляемой техники при условии соблюдения заказчиком правил эксплуатации.</li>
                    <li>В течение 1-го года гарантийного обслуживания - выезд инженера сервисной службы для выполнения гарантийных работ по диагностике и ремонту вышедшего из строя оборудования осуществляется либо в день обращения, либо на следующий рабочий день.* Если выполнения гарантийных работ по диагностике и ремонту оборудования будет невозможно на месте эксплуатации, компания SK Server Technologies транспортирует оборудование в сервисный центр для полной диагностики и ремонта.</li>
                    <li>В течение 2-го и 3-го года - гарантийное обслуживание выполняется в сервисном центре компании SK Server Technologies.</li>
                    <li>Продолжительность гарантийного ремонта не должна превышать 40 рабочих дней. Гарантийный срок продлевается на время нахождения Оборудования в ремонте.</li>
                    <li>В случае проявления у приобретенного оборудования существенного недостатка (т.е. недостатка, который не может быть устранен) производится замена неисправного изделия на аналогичное исправное изделие (при обязательном наличии заключения сервисного центра о существенности недостатка изделия).</li>
                    <li>В ремонте поставляемого оборудования может быть отказано:</li>
                  </ul>
                </div>
              </div><!-- /.texthidden -->

              <div class="showtext" data-wrapper='text'>
                <a href="#" class="btn_arrow"  data-btnhidden='text'>
                  <span>Развернуть</span>
                  <img src="img/arrow2down.svg" alt="">
                </a>
              </div><!-- /.showtext -->

              
            </div><!-- /.contentblock -->


        
          </div><!-- /.container -->
          </div><!-- /.wavebgblock -->



      </div><!-- /.innerpage -->    
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>