<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная</span></a></li>
                <li><span>Вопрос-ответ</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->

        <div class="pageheader">
          <div class="container">
            <h1>Вопрос-ответ</h1>

          </div><!-- /.container -->
        </div><!-- /.pageheader -->


        <div class="faqpage">
          <div class="container">
            <div class="accordeonblock faq">
              <div class="faqblock">
                <div class="faqblock__items ">
                  <div class="faqblock__item">
                    <div class="faqblock__content">
                      <div class="faq-question ">
                        <div class='faq-title'>Сможете ли отправить изделия в Казахстан?</div>
                      </div>
                      <div class="faq-answer ">
                        <div class='text'>
                          <p>Обтекатель это сильно нагруженный элемент при движении автомобиля на скорости уже более 40
                            км\ч, а также является значимой эстетической частью вашего авто и кардинально меняет его
                            внешний вид. Мы рекомендуем не приобретать дешевые обтекатели неизвестного или поддельного
                            качества, продаваемые на «серых» авторынках у сомнительных продавцов. Компания «DAKAR» имеет
                            немногим более 20 летний опыт работы и заслуженную репутацию. </p>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="faqblock__item">
                    <div class="faqblock__content">
                      <div class="faq-question ">
                        <div class='faq-title'>Сможете ли отправить изделия в Казахстан?</div>
                      </div>
                      <div class="faq-answer ">
                        <div class='text'>
                          <p>Обтекатель это сильно нагруженный элемент при движении автомобиля на скорости уже более 40
                            км\ч, а также является значимой эстетической частью вашего авто и кардинально меняет его
                            внешний вид. Мы рекомендуем не приобретать дешевые обтекатели неизвестного или поддельного
                            качества, продаваемые на «серых» авторынках у сомнительных продавцов. Компания «DAKAR» имеет
                            немногим более 20 летний опыт работы и заслуженную репутацию. </p>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="faqblock__item">
                    <div class="faqblock__content">
                      <div class="faq-question ">
                        <div class='faq-title'>Сможете ли отправить изделия в Казахстан?</div>
                      </div>
                      <div class="faq-answer ">
                        <div class='text'>
                          <p>Обтекатель это сильно нагруженный элемент при движении автомобиля на скорости уже более 40
                            км\ч, а также является значимой эстетической частью вашего авто и кардинально меняет его
                            внешний вид. Мы рекомендуем не приобретать дешевые обтекатели неизвестного или поддельного
                            качества, продаваемые на «серых» авторынках у сомнительных продавцов. Компания «DAKAR» имеет
                            немногим более 20 летний опыт работы и заслуженную репутацию. </p>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="faqblock__item">
                    <div class="faqblock__content">
                      <div class="faq-question ">
                        <div class='faq-title'>Сможете ли отправить изделия в Казахстан?</div>
                      </div>
                      <div class="faq-answer ">
                        <div class='text'>
                          <p>Обтекатель это сильно нагруженный элемент при движении автомобиля на скорости уже более 40
                            км\ч, а также является значимой эстетической частью вашего авто и кардинально меняет его
                            внешний вид. Мы рекомендуем не приобретать дешевые обтекатели неизвестного или поддельного
                            качества, продаваемые на «серых» авторынках у сомнительных продавцов. Компания «DAKAR» имеет
                            немногим более 20 летний опыт работы и заслуженную репутацию. </p>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="faqblock__item">
                    <div class="faqblock__content">
                      <div class="faq-question ">
                        <div class='faq-title'>Сможете ли отправить изделия в Казахстан?</div>
                      </div>
                      <div class="faq-answer ">
                        <div class='text'>
                          <p>Обтекатель это сильно нагруженный элемент при движении автомобиля на скорости уже более 40
                            км\ч, а также является значимой эстетической частью вашего авто и кардинально меняет его
                            внешний вид. Мы рекомендуем не приобретать дешевые обтекатели неизвестного или поддельного
                            качества, продаваемые на «серых» авторынках у сомнительных продавцов. Компания «DAKAR» имеет
                            немногим более 20 летний опыт работы и заслуженную репутацию. </p>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="faqblock__item">
                    <div class="faqblock__content">
                      <div class="faq-question ">
                        <div class='faq-title'>Сможете ли отправить изделия в Казахстан?</div>
                      </div>
                      <div class="faq-answer ">
                        <div class='text'>
                          <p>Обтекатель это сильно нагруженный элемент при движении автомобиля на скорости уже более 40
                            км\ч, а также является значимой эстетической частью вашего авто и кардинально меняет его
                            внешний вид. Мы рекомендуем не приобретать дешевые обтекатели неизвестного или поддельного
                            качества, продаваемые на «серых» авторынках у сомнительных продавцов. Компания «DAKAR» имеет
                            немногим более 20 летний опыт работы и заслуженную репутацию. </p>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="faqblock__item">
                    <div class="faqblock__content">
                      <div class="faq-question ">
                        <div class='faq-title'>Сможете ли отправить изделия в Казахстан?</div>
                      </div>
                      <div class="faq-answer ">
                        <div class='text'>
                          <p>Обтекатель это сильно нагруженный элемент при движении автомобиля на скорости уже более 40
                            км\ч, а также является значимой эстетической частью вашего авто и кардинально меняет его
                            внешний вид. Мы рекомендуем не приобретать дешевые обтекатели неизвестного или поддельного
                            качества, продаваемые на «серых» авторынках у сомнительных продавцов. Компания «DAKAR» имеет
                            немногим более 20 летний опыт работы и заслуженную репутацию. </p>


                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div><!-- /.container -->
        </div><!-- /.faqpage -->





      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>