<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная</span></a></li>
                <li><a href="/"><span>Услуги</span></a></li>
                <li><span>Установка спойлеров</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->

        <div class="pageheader">
          <div class="container">
            <h1>Установка спойлеров</h1>
            <div class="pageheader__back">
              <a href="#">
                <img src="img/arrowback.png" alt=""><span>Назад</span>
              </a>
            </div><!-- /.pageheader__back -->
          </div><!-- /.container -->
        </div><!-- /.pageheader -->

        <div class="detailpage">
          <div class="container">
            <div class="detailpage__content text">
              <div class="detailpage__header">
                <div class="detailpage__image detailblock">
                  <img src="img/detailimg.png" alt="" class='detailimg'>
                </div><!-- /.detailpage__image -->
  
                <div class=" detailblock">
                  <p>ООО «Росинтех» - завод полного цикла по разработке, конструированию и изготовлению изделий из
                    стеклопластика с учетом условий эксплуатации готового изделия, в соответствии с требованиями технической
                    и экологической безопасности, с точным соблюдением геометрических и цветовых решений.</p>
    
                  <p>На сегодняшний день продукция из стеклопластика стала очень популярной, благодаря своим уникальным
                    свойствам, в таких отраслях как: медицина, строительство, автопромышленность, судостроение, промтовары,
                    сельское хозяйство, детские комплексы и т.д.</p>
    
                  <p>Стеклопластик, АБС-пластик представляют собой композицию отдельных материалов, сохраняющих свои ценные
                    свойства в едином изделии и наделяющих его новыми, требуемыми характеристиками.</p>
  
                </div>
              </div><!-- /.detailpage__header -->
             
              <div class="detailpage__text ">
                <p><b>Основными преимуществами продукции из стеклопластика являются:</b> </p>
                    <ul>
                      <li> высокие прочностные характеристики;</li>
                      <li> сравнительно маленький вес;</li>
                      <li> длительный срок службы;</li>
                      <li> устойчивость к агрессивному воздействию окружающей среды;</li>
                      <li> антикоррозийные свойства.</li>
                    </ul>
  
                <p>Стеклопластик, прошедший полный производственный цикл, не содержит летучих соединений, поэтому он
                      безопасен для человека и окружающей среды.</p>
      
                <p>Компания «РОСИНТЕХ» рада предложить Вам сотрудничество на индивидуальных условиях – производство
                      изделий по Вашему проекту либо помощь в проектировании и подготовке к серийному выпуску, а также
                      возможность последующей реализации продукции через нашу торговую сеть.</p>
              </div><!-- /.detailpage__text -->
             
</div>

             
            </div><!-- /.detailpage__content text -->     
          </div><!-- /.container -->
        </div>





      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>