<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        <div class="breadcrumbs">
          <div class="container">
            <div class="breadcrumbs__items">
              <ul>
                <li><a href="/"><span>Главная</span></a></li>
                <li><span>Услуги</span></li>
              </ul>
            </div>
            <!-- /.breadcrumbs__items -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.breadcrumbs -->

        <div class="pageheader">
          <div class="container">
            <h1>Услуги</h1>
            
          </div><!-- /.container -->
        </div><!-- /.pageheader -->

        <div class="servicespage">
          <div class="container">
            <div class="servicespage__items">
              <div class="servicespage__item">
                <div class="servicecard"  style='background-image: url(img/servicecard1.jpg);'>
                  <div class="servicecard__wrapper">
                    <a href="" class="servicecard__link">
                      <span class="servicecard__icon"><img src="img/plus.png" alt=""></span><!-- /.servicecard__icon -->

                      <div class="servicecard__content">
                        <div class="servicecard__block">
                          <div class="servicecard__title">Установка (монтаж) спойлеров</div><!-- /.servicecard__title -->
                          <div class="servicecard__text">Установка межосевых спойлеров и аэродинамических обтекателей на автомобили Volvo</div><!-- /.servicecard__text -->
                          <div class="servicecard__onhover">
                            <div class="servicecard__button">
                              <img src="img/servicecard__button.png" alt=""><span>Подробнее</span>
                            </div>
                          </div>
                        </div><!-- /.servicecard__block -->
                      </div><!-- /.servicecard__content -->
                    </a><!-- /.servicecard__link -->
                  </div><!-- /.servicecard__wrapper -->
                </div><!-- /.servicecard -->
              </div><!-- /.servicespage__item -->
              <div class="servicespage__item">
                <div class="servicecard"  style='background-image: url(img/servicecard1.jpg);'>
                  <div class="servicecard__wrapper">
                    <a href="" class="servicecard__link">
                      <span class="servicecard__icon"><img src="img/plus.png" alt=""></span><!-- /.servicecard__icon -->

                      <div class="servicecard__content">
                        <div class="servicecard__block">
                          <div class="servicecard__title">Установка (монтаж) спойлеров</div><!-- /.servicecard__title -->
                          <div class="servicecard__text">Установка межосевых спойлеров и аэродинамических обтекателей на</div><!-- /.servicecard__text -->
                          <div class="servicecard__onhover">
                            <div class="servicecard__button">
                              <img src="img/servicecard__button.png" alt=""><span>Подробнее</span>
                            </div>
                          </div>
                        </div><!-- /.servicecard__block -->
                      </div><!-- /.servicecard__content -->
                    </a><!-- /.servicecard__link -->
                  </div><!-- /.servicecard__wrapper -->
                </div><!-- /.servicecard -->
              </div><!-- /.servicespage__item -->
              <div class="servicespage__item">
                <div class="servicecard"  style='background-image: url(img/servicecard1.jpg);'>
                  <div class="servicecard__wrapper">
                    <a href="" class="servicecard__link">
                      <span class="servicecard__icon"><img src="img/plus.png" alt=""></span><!-- /.servicecard__icon -->

                      <div class="servicecard__content">
                        <div class="servicecard__block">
                          <div class="servicecard__title">Установка (монтаж) спойлеров</div><!-- /.servicecard__title -->
                          <div class="servicecard__text">Установка межосевых спойлеров и аэродинамических обтекателей на</div><!-- /.servicecard__text -->
                          <div class="servicecard__onhover">
                            <div class="servicecard__button">
                              <img src="img/servicecard__button.png" alt=""><span>Подробнее</span>
                            </div>
                          </div>
                        </div><!-- /.servicecard__block -->
                      </div><!-- /.servicecard__content -->
                    </a><!-- /.servicecard__link -->
                  </div><!-- /.servicecard__wrapper -->
                </div><!-- /.servicecard -->
              </div><!-- /.servicespage__item -->
              <div class="servicespage__item">
                <div class="servicecard"  style='background-image: url(img/servicecard1.jpg);'>
                  <div class="servicecard__wrapper">
                    <a href="" class="servicecard__link">
                      <span class="servicecard__icon"><img src="img/plus.png" alt=""></span><!-- /.servicecard__icon -->

                      <div class="servicecard__content">
                        <div class="servicecard__block">
                          <div class="servicecard__title">детейлинг</div><!-- /.servicecard__title -->
                          <div class="servicecard__text">Установка межосевых спойлеров </div><!-- /.servicecard__text -->
                          <div class="servicecard__onhover">
                            <div class="servicecard__button">
                              <img src="img/servicecard__button.png" alt=""><span>Подробнее</span>
                            </div>
                          </div>
                        </div><!-- /.servicecard__block -->
                      </div><!-- /.servicecard__content -->
                    </a><!-- /.servicecard__link -->
                  </div><!-- /.servicecard__wrapper -->
                </div><!-- /.servicecard -->
              </div><!-- /.servicespage__item -->
            </div><!-- /.servicespage__items -->
          </div><!-- /.container -->
        </div>





      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>