<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="innerpage">
          <div class="pageheaderblock">
            <div class="container">
              <div class="pageheaderblock__wrapper">
                <div class="pageheaderblock__content">
                  <div class="pageheaderblock__breadcrumbs">
                    <div class="breadcrumbs">
                      <div class="container">
                        <div class="breadcrumbs__items">
                          <ul>
                            <li><a href="/"><span>SK Server</span></a></li>
                            <li><a href=""><span>Продукты</span></a></li>
                            <li><span>Серверы</span></li>
                          </ul>
                        </div>
                        <!-- /.breadcrumbs__items -->
                      </div>
                      <!-- /.container -->
                    </div>
                    <!-- /.breadcrumbs -->
                  </div><!-- /.pageheaderblock__breadcrumbs -->
                  <div class="pageheaderblock__title">
                    <h1>Доставка</h1>
                  </div><!-- /.pageheaderblock__title -->
                  <div class="pageheaderblock__text">
                    <div class="description">
                      <p>Каждый сервер мы оборачиваем пузырьковой пленкой и укладываем в фирменный коробки. Дополнительно защищаем ложементами из вспененного полиэтилена, формованным под наши сервера. Он обладает амортизирующими свойствами необходимыми для обеспечения сохранности сервера.</p>
                    </div><!-- /.description -->
                  </div><!-- /.pageheaderblock__text -->
                </div><!-- /.pageheaderblock__content -->
                <div class="pageheaderblock__image">
                  <div class="pageheaderblock__img ">
                    <img src="img/service_detail.png" alt="">
                  </div><!-- /.pageheaderblock__img -->
                 <!--  <div class="pageheaderblock__img onlyMobile">
                    <img src="img/service_detail_mobile.png" alt="">
                  </div> -->
                </div><!-- /.pageheaderblock__image -->
              </div><!-- /.pageheaderblock__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.pageheaderblock -->

          <div class="wavebgblock">

            <div class="figure figure12">
              <img src="img/figure12.png" alt="">
            </div>

            
            <div class="figure figure13">
              <img src="img/figure13.png" alt="">
            </div>




            <div class="container">
            <div class="contentblock">
              <div class="contentblock__titletext">
                Если груз потерялся или был разбит — это наша ответственности. Мы страхуем каждую отправку. Работа логистической службы не заканчивается, когда мы передали заказ в ТК. Она заканчивается, когда сервер вами получен.

              </div><!-- /.contentblock__titletext -->

              <div class="contentblock__text text">
                <p>Вся ответственность за груз на нас, пока вы его не получите в целости. Поэтому вы можете быть совершенно спокойны, даже если во время транспортировки что-то случится — мы все решим.</p>
              </div><!-- /.text -->

              <div class="borderblock">
                Мы не пользуемся адресным хранением, у нас свой склад в 500кв. Использование собственных площадей позволяет нам контролировать климатические условия хранения оборудования.
              </div><!-- /.borderblock -->
            </div><!-- /.contentblock -->


            <div class="stepsblock">
              <div class="stepsblock__title">
                <h2 class='text-42 sm-text-23'>Мы предлагаем</h2>
              </div>
              <div class="stepsblock__wrapper">
                <div class="stepsblock__items">
                  <div class="stepsblock__item slide-in-bottom wow" data-wow-delay="0.1s" data-wow-offset="0" data-wow-duration="1.0s">
                    <div class="stepsblock__content">
                      <div class="stepsblock__number">01</div><!-- /.stepsblock__number -->
                      <div class="stepsblock__text">Выверенные инструменты для управления вашим продуктом – от разработки концепции до выпуска на рынок и обслуживания на протяжении всего срока эксплуатации.</div><!-- /.stepsblock__text -->
                    </div><!-- /.stepsblock__content -->
                  </div><!-- /.stepsblock__item -->
                  <div class="stepsblock__item slide-in-bottom wow" data-wow-delay="0.3s" data-wow-offset="0" data-wow-duration="1.0s">
                    <div class="stepsblock__content">
                      <div class="stepsblock__number">02</div><!-- /.stepsblock__number -->
                      <div class="stepsblock__text">Выверенные инструменты для управления вашим продуктом – от разработки концепции до выпуска на рынок и обслуживания на протяжении всего срока эксплуатации.</div><!-- /.stepsblock__text -->
                    </div><!-- /.stepsblock__content -->
                  </div><!-- /.stepsblock__item -->
                  <div class="stepsblock__item slide-in-bottom wow" data-wow-delay="0.5s" data-wow-offset="0" data-wow-duration="1.0s">
                    <div class="stepsblock__content">
                      <div class="stepsblock__number">03</div><!-- /.stepsblock__number -->
                      <div class="stepsblock__text">Выверенные инструменты для управления вашим продуктом – от разработки концепции до выпуска на рынок и обслуживания на протяжении всего срока эксплуатации.</div><!-- /.stepsblock__text -->
                    </div><!-- /.stepsblock__content -->
                  </div><!-- /.stepsblock__item -->
                  <div class="stepsblock__item slide-in-bottom wow" data-wow-delay="0.7s" data-wow-offset="0" data-wow-duration="1.0s">
                    <div class="stepsblock__content">
                      <div class="stepsblock__number">04</div><!-- /.stepsblock__number -->
                      <div class="stepsblock__text">Выверенные инструменты для управления вашим продуктом – от разработки концепции до выпуска на рынок и обслуживания на протяжении всего срока эксплуатации.</div><!-- /.stepsblock__text -->
                    </div><!-- /.stepsblock__content -->
                  </div><!-- /.stepsblock__item -->
                  <div class="stepsblock__item slide-in-bottom wow" data-wow-delay="0.9s" data-wow-offset="0" data-wow-duration="1.0s">
                    <div class="stepsblock__content">
                      <div class="stepsblock__number">05</div><!-- /.stepsblock__number -->
                      <div class="stepsblock__text">Выверенные инструменты для управления вашим продуктом – от разработки концепции до выпуска на рынок и обслуживания на протяжении всего срока эксплуатации.</div><!-- /.stepsblock__text -->
                    </div><!-- /.stepsblock__content -->
                  </div><!-- /.stepsblock__item -->
                  <div class="stepsblock__item slide-in-bottom wow" data-wow-delay="1.1s" data-wow-offset="0" data-wow-duration="1.0s">
                    <div class="stepsblock__content">
                      <div class="stepsblock__number">06</div><!-- /.stepsblock__number -->
                      <div class="stepsblock__text">Выверенные инструменты для управления вашим продуктом – от разработки концепции до выпуска на рынок и обслуживания на протяжении всего срока эксплуатации.</div><!-- /.stepsblock__text -->
                    </div><!-- /.stepsblock__content -->
                  </div><!-- /.stepsblock__item -->
                </div><!-- /.stepsblock__items -->
              </div><!-- /.stepsblock__wrapper -->
            </div><!-- /.stepblock -->
           
          </div><!-- /.container -->
          </div><!-- /.wavebgblock -->



      </div><!-- /.innerpage -->    
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>