<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>





      <main>
        
        <div class="landing">
          <div class="landingheader">
            <div class="container">
              <div class="landingheader__wrapper">
                <div class="landingheader__title">
                  <h1>Межосевые спойлеры на Volvo FH</h1>
                </div>
                <div class="landingheader__button onlyMobile">
                  <img src="img/dropdown.png" alt="">
                </div><!-- /.landingheader__button onlyMobile -->
                <div class="landingheader__menu">
                  <ul>
                    <li><a href="#fitches" class='scrollTo'>Преимущества</a></li>
                    <li><a href="#models"  class='scrollTo'>Выбор модели</a></li>
                    <li><a href="#gallery"  class='scrollTo'>Фотогалерея</a></li>
                    <li><a href="#video"  class='scrollTo'>Видеообзор</a></li>
                  </ul>
                </div><!-- /.landingheader__menu -->
              </div><!-- /.landingheader__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.landingheader -->

          <div class="landingmain landingmain_type2" >
            <div class="container">
              <div class="landingmain__wrapper">
                <div class="landingmain__content">
                  <div class="landingmain__title  slide-in-left " data-wow-duration="1.5s">
                    Аэродинамические межосевые <br> <span class="orange">спойлеры на Volvo FH </span>
                  </div><!-- /.landingmain__title -->
                  <div class="landingmain__image">
                    <div class="landingmain__img fade-in wow"  data-wow-duration="1.5s"><img src="img/volvo1.png" alt=""></div><!-- /.landingmain__img -->
                  </div><!-- /.landingmain__image -->
                  <div class="landingmain__main">
                    <div class="landingmain__item  fade-in1 ">
                      <div class="landingmain__info">Сделано в России</div>
                      <div class="landingmain__point landingmain__point_start " id='spoint1' style='right: 412px; top: 42px'></div><!-- /.landingmain__point_start -->
                      <div class="landingmain__point landingmain__point_end " id='epoint1' style='left:15px; bottom: 135px;'></div><!-- /.landingmain__point -->
                      
                      <div class="landingmain__line " id='line1'></div><!-- /.landingmain__line landingmain__line1 -->
                    </div><!-- /.landingmain__wrapper landingmain__wrapper1 -->
                    <div class="landingmain__item  fade-in2 " data-wow-duration="1.5s" data-wow-delay="0.7s">                      <div class="landingmain__info landingmain__info_2">применение инновационных технологий</div>
                      <div class="landingmain__point landingmain__point_start " id='spoint2' style='right: 412px; top: 198px'></div><!-- /.landingmain__point_start -->
                      <div class="landingmain__point landingmain__point_end " id='epoint2' style='left:20px; bottom: 80px;'></div><!-- /.landingmain__point -->
                      
                      <div class="landingmain__line " id='line2'></div><!-- /.landingmain__line landingmain__line1 -->
                    </div><!-- /.landingmain__wrapper landingmain__wrapper1 -->
                    <div class="landingmain__item  fade-in3 " data-wow-duration="1.5s" data-wow-delay="0.7s">                     
                       <div class="landingmain__info landingmain__info_3">устойчивость к агрессивному воздействию окружающей <br> среды</div>
                      <div class="landingmain__point landingmain__point_start " id='spoint3' style='right: 412px; top: 355px'></div><!-- /.landingmain__point_start -->
                      <div class="landingmain__point landingmain__point_end " id='epoint3' style='left:20px; bottom: 50px;'></div><!-- /.landingmain__point -->
                      
                      <div class="landingmain__line " id='line3'></div><!-- /.landingmain__line landingmain__line1 -->
                    </div><!-- /.landingmain__wrapper landingmain__wrapper1 -->
                    <div class="landingmain__item  fade-in4 " data-wow-duration="1.5s" data-wow-delay="0.9s">                     
                       <div class="landingmain__info landingmain__info_4">дополнительная защита топливных баков</div>
                      <div class="landingmain__point landingmain__point_start " id='spoint4' style='right: 412px; top: 478px'></div><!-- /.landingmain__point_start -->
                      <div class="landingmain__point landingmain__point_end " id='epoint4' style='left:20px; bottom: 25px;'></div><!-- /.landingmain__point -->
                      
                      <div class="landingmain__line " id='line4'></div><!-- /.landingmain__line landingmain__line1 -->
                    </div><!-- /.landingmain__wrapper landingmain__wrapper1 -->
                  </div><!-- /.landingmain__content -->
                  <div class="landingmain__buttons"><a href="#models" class="btn_main scrollTo">Заказать спойлер</a><!-- /.btn_main --></div><!-- /.landingmain__buttons -->
                </div><!-- /.landingmain__content -->
              </div><!-- /.landingmain__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.landingmain -->


          <div class="landindfitches landindfitches_type123" id='fitches'>
            <div class="container">
              <div class="landindfitches__wrapper flex">
              
                <div class="landindfitches__aside">
                  <div class="landindfitches__image slide-in-left wow" data-wow-duration="1.5"><img src="img/volvo2.png" alt=""></div><!-- /.landindfitches__image -->
                </div><!-- /.landindfitches__aside -->

                <div class="landindfitches__main">
                  <div class="landindfitches__title  slide-in-right wow" data-wow-duration="1.5">Преимущества покупки спойлера у нас</div>
                    <div class="landindfitches__items">
                      <div class="landindfitches__item  slide-in-right wow" data-wow-duration="1.5" data-wow-delay="0.2s">
                        <div class="landindfitches__content">
                       
                          <div class="landindfitches__caption">Качество материлов </div>
                          <div class="landindfitches__text">Изготавливаются из импортных материалов в заводских условиях с контролем качества</div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                      <div class="landindfitches__item  slide-in-right wow" data-wow-duration="1.5" data-wow-delay="0.4s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__caption">Гарантия</div>
                          <div class="landindfitches__text">
                            Все спойлеры обтекатели имеют сертификат и соответствуют техническим условиям
                             </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                      <div class="landindfitches__item  slide-in-right wow" data-wow-duration="1.5" data-wow-delay="0.6s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__caption">Выбор цвета </div>
                          <div class="landindfitches__text">
                            Изделия могут поставляться, как грунтованные под покраску, так и окрашенные в любой цвет по выбранному RAL
                            </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                      <div class="landindfitches__item  slide-in-right wow" data-wow-duration="1.5" data-wow-delay="0.8s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__caption">Надежность креплений</div>
                          <div class="landindfitches__text">
                            Крепления поставляются в комплекте и окрашены специальной антикаррозионой краской 
                            </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                     
                      <div class="landindfitches__item  slide-in-right wow" data-wow-duration="1.5" data-wow-delay="1s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__caption">Эксклюзив</div>
                          <div class="landindfitches__text">
                            
                            Разработаем эксклюзивное изделие по вашему техническому заданию
                            
                            </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                      <div class="landindfitches__item  slide-in-right wow" data-wow-duration="1.5" data-wow-delay="1.2s">
                        <div class="landindfitches__content">
                          <div class="landindfitches__caption">Программа лояльности</div>
                          <div class="landindfitches__text">
                            
                            
                            Гибкая система скидок при заказе от 3 комплектов спойлеров.
                            
                            
                            </div><!-- /.landindfitches__text -->
                        </div><!-- /.landindfitches__content -->
                      </div><!-- /.landindfitches__item -->
                    </div><!-- /.landindfitches__items -->
                </div><!-- /.landindfitches__main -->
              </div><!-- /.landindfitches__wrapper flex -->
            </div><!-- /.container -->
          </div><!-- /.landindfitches -->
        

          <div class="landingcards landingcards_type2" id='models'>
            <div class="container">
              <div class="landingcards__header">
                <h2>Выбор спойлера</h2>
              </div>
              <div class="landingcards__items">
                <div class="landingcards__item">
                  <a href="#modal_order" data-toggle="modal" class="landingcards__wrapper">
                    <div class="landingcards__image">
                      <img src="img/volvo3.png" alt="">
                    </div><!-- /.landingcards__image -->
                    <div class="landingcards__title">Межосевой спойлер на Volvo FH 4 (короткий бак)</div><!-- /.landingcards__title -->
                    <div class="landingcards__button">
                      <span  class='btn_main'>Заказать спойлер</span>
                    </div><!-- /.landingcards__button -->
                  </a><!-- /.landingcards__wrapper -->
                </div><!-- /.landingcards__item -->
                <div class="landingcards__item">
                  <a href="#modal_order" data-toggle="modal" class="landingcards__wrapper">
                    <div class="landingcards__image">
                      <img src="img/volvo5.png" alt="">
                    </div><!-- /.landingcards__image -->
                    <div class="landingcards__title">Межосевой спойлер на Volvo FH 4 (стандартный бак)</div><!-- /.landingcards__title -->
                    <div class="landingcards__button">
                      <span class='btn_main'>Заказать спойлер</span>
                    </div><!-- /.landingcards__button -->
                  </a><!-- /.landingcards__wrapper -->
                </div><!-- /.landingcards__item -->
                <div class="landingcards__item">
                  <a href="#modal_order" data-toggle="modal" class="landingcards__wrapper">
                    <div class="landingcards__image">
                      <img src="img/volvo4.png" alt="">
                    </div><!-- /.landingcards__image -->
                    <div class="landingcards__title">Межосевой спойлер на Volvo FH 12 / 13 (стандартный бак)</div><!-- /.landingcards__title -->
                    <div class="landingcards__button">
                      <span class='btn_main'>Заказать спойлер</span>
                    </div><!-- /.landingcards__button -->
                  </a><!-- /.landingcards__wrapper -->
                </div><!-- /.landingcards__item -->
              </div><!-- /.landingcards__items -->
            </div><!-- /.container -->
          </div><!-- /.landingcards -->

          <div class="landingcontact">
            <div class="container">
              <div class="landingcontact__wrapper">
                <div class="landingcontact__main">
                  <div class="landingcontact__title">Затрудняетесь с выбором?</div><!-- /.landingcontact__title -->
                  <div class="landingcontact__text">Позвоните нам по номеру <b>8 (495) 123-45-67</b> 
                    или оставьте заявку на обратный звонок и наш специалист перезвонит вам!</div><!-- /.landingcontact__text -->
                  <div class="landingcontact__button">
                    <a href="#modal_callback" data-toggle="modal" class="btn_main">Заказать звонок</a>
                  </div><!-- /.landingcontact__button -->
                </div><!-- /.landingcontact__main -->
                <div class="landingcontact__image">
                  <img src="img/landingcontact__image.png" alt="">
                </div><!-- /.landingcontact__image -->
              </div><!-- /.landingcontact__wrapper -->
            </div><!-- /.container -->
          </div><!-- /.landingcontact -->


          <div class="landinggallery landinggallery_type2" id='gallery'>
            <div class="container">
            <h2>Фото межосевых спойлеров на Вольфо ФШ</h2>
              <div class="landinggallery__items">
                <div class="landinggallery__item">
                  <a href='img/volvo6.png' data-lightbox='gallery_1' class="galleryblock">
                    <div class="galleryblock__mask"></div><!-- /.galleryblock__mask -->
                    <div class="galleryblock__content">
                      <div class="galleryblock__image">
                        <img src="img/volvo6.png" alt="">
                      </div><!-- /.galleryblock__image -->
                      <div class="galleryblock__title">Межосевые спойлеры на Вольво ФШ 4 (стандартный бак)</div><!-- /.galleryblock__title -->
                    </div><!-- /.galleryblock__content -->
                  </a><!-- /.galleryblock -->

                
                </div><!-- /.landinggallery__item -->
                <div class="landinggallery__item">
                  <a href='img/volvo7.png' data-lightbox='gallery_2' class="galleryblock">
                    <div class="galleryblock__mask"></div><!-- /.galleryblock__mask -->
                    <div class="galleryblock__content">
                      <div class="galleryblock__image">
                        <img src="img/volvo7.png" alt="">
                      </div><!-- /.galleryblock__image -->
                      <div class="galleryblock__title">Межосевые спойлеры на Вольво ФШ 4 (короткий бак)</div><!-- /.galleryblock__title -->
                    </div><!-- /.galleryblock__content -->
                  </a><!-- /.galleryblock -->
                  <a href='img/volvo8.png' data-lightbox='gallery_3' class="galleryblock">
                    <div class="galleryblock__mask"></div><!-- /.galleryblock__mask -->
                    <div class="galleryblock__content">
                      <div class="galleryblock__image">
                        <img src="img/volvo8.png" alt="">
                      </div><!-- /.galleryblock__image -->
                      <div class="galleryblock__title">Межосевые спойлеры на Вольво ФШ 12/13</div><!-- /.galleryblock__title -->
                    </div><!-- /.galleryblock__content -->
                  </a><!-- /.galleryblock -->



                </div><!-- /.landinggallery__item -->
              </div><!-- /.landinggallery__items -->


              <!-- остальные фото тут -->

              <a href="img/volvo5.png" data-lightbox='gallery_1'></a>
              <a href="img/volvo4.png" data-lightbox='gallery_1'></a>


              <a href="img/volvo7.png" data-lightbox='gallery_2'></a>
              <a href="img/volvo7.png" data-lightbox='gallery_2'></a>

              <a href="img/volvo8.png" data-lightbox='gallery_3'></a>
              <a href="img/volvo8.png" data-lightbox='gallery_3'></a>
            </div><!-- /.container -->
          </div><!-- /.landinggallery -->


          <div class="landingvideo" id='video'>
            <div class="container">
              <h2>Видеообзор Volvo FH</h2>
              <div class="videoblock">
                <div class="videoblock__wrapper">
                  <a data-ytlink="//www.youtube.com/embed/YFiWsIVpIoY?enablejsapi=1" tabindex="0" href="#!" class="videoblock__link">
                    <div class="videoblock__thumb">
                      <img src="img/videoblock__thumb.png" alt="">
                    </div><!-- /.videoblock__thumb -->
                    <div class="videoblock__icon">
                      <img src="img/play_circle_filled_black_24dp.svg" alt="">
                    </div><!-- /.videoblock__icon -->
                  </a>
                </div><!-- /.videoblock__wrapper -->
              </div><!-- /.videoblock -->
            </div><!-- /.container -->
          </div><!-- /.landingvideo -->

        </div><!-- /.landing -->

      
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>